%h3.page-title
  系统钩子

%p.light
  #{link_to "系统钩子", help_page_path("system_hooks", "system_hooks"), class: "vlink"}可以绑定例如 Git 版本创建用户或项目的事件。

%hr


= form_for @hook, as: :hook, url: admin_hooks_path, html: { class: 'form-horizontal' } do |f|
  -if @hook.errors.any?
    .alert.alert-danger
      - @hook.errors.full_messages.each do |msg|
        %p= msg
  .form-group
    = f.label :url, "链接：", class: 'control-label'
    .col-sm-10
      = f.text_field :url, class: "form-control"
  .form-actions
    = f.submit "增加系统钩子", class: "btn btn-create"
%hr

-if @hooks.any?
  .panel.panel-default
    .panel-heading
      系统钩子 (#{@hooks.count})
    %ul.well-list
      - @hooks.each do |hook|
        %li
          .list-item-name
            = link_to admin_hook_path(hook) do
              %strong= hook.url

          .pull-right
            = link_to '测试钩子', admin_hook_test_path(hook), class: "btn btn-small"
            = link_to '删除', admin_hook_path(hook), data: { confirm: '确定要继续么？' }, method: :delete, class: "btn btn-remove btn-small"
