%div
  %h1
    GitLab
    %span= Gitlab::VERSION
    %small= Gitlab::REVISION
  %p.slead
    GitLab 是用于代码协作的开源软件。
    %br
    Manage git repositories with fine grained access controls that keep your code secure.
    %br
    Perform code reviews and enhance collaboration with merge requests.
    %br
    Each project can also have an issue tracker and a wiki.
    %br
    Used by more than 100,000 organizations, GitLab is the most popular solution to manage git repositories on-premises.
    %br
    了解 Gitlab 更多内容请访问 #{link_to promo_host, promo_url, target: '_blank'}。

%hr

.row
  .col-md-8
    .documentation-index
      = preserve do
        - readme_text = File.read(Rails.root.join("doc", "README.md"))
        - text = readme_text.dup
        - readme_text.scan(/\]\(([^(]+)\)/) { |match| text.gsub!(match.first, "help/#{match.first}") }
        = markdown text

  .col-md-4
    .panel.panel-default
      .panel-heading
        快速帮助
      %ul.well-list
        %li
          查看我们的网站
          = link_to '获取帮助', promo_url + '/getting-help/'
        %li
          使用页面顶部的
          = link_to '搜索功能', '#', onclick: 'Shortcuts.focusSearch(event)'
        %li
          使用
          = link_to '键盘快捷键', '#', onclick: 'Shortcuts.showHelp(event)'
