- blob = project.repository.blob_for_diff(@commit, diff_file.diff)
- return unless blob
- blob_diff_path = diff_project_blob_path(project, tree_join(@commit.id, diff_file.file_path))
.diff-file{id: "diff-#{i}", data: {blob_diff_path: blob_diff_path }}
  .diff-header{id: "file-path-#{hexdigest(diff_file.new_path || diff_file.old_path)}"}
    - if diff_file.deleted_file
      %span="#{diff_file.old_path} deleted"

      .diff-btn-group
        - if @commit.parent_ids.present?
          = view_file_btn(@commit.parent_id, diff_file, project)
    - else
      - if diff_file.renamed_file
        %span= "#{diff_file.old_path} renamed to #{diff_file.new_path}"
      - else
        %span= diff_file.new_path
      - if diff_file.mode_changed?
        %span.file-mode= "#{diff_file.diff.a_mode} → #{diff_file.diff.b_mode}"

      .diff-btn-group
        - if blob.text?
          - unless params[:view] == 'parallel'
            %label
              = check_box_tag nil, 1, false, class: 'js-toggle-diff-line-wrap'
              自动换行
          &nbsp;
          = link_to '#', class: 'js-toggle-diff-comments btn btn-small' do
            %i.fa.fa-chevron-down
            差异注释
          &nbsp;

        - if @merge_request && @merge_request.source_project
          = edit_blob_link(@merge_request.source_project,
              @merge_request.source_branch, diff_file.new_path,
              after: '&nbsp;', from_merge_request_id: @merge_request.id)

        = view_file_btn(@commit.id, diff_file, project)

  .diff-content
    -# Skipp all non non-supported blobs
    - return unless blob.respond_to?('text?')
    - if blob.text?
      - if params[:view] == 'parallel'
        = render "projects/diffs/parallel_view", diff_file: diff_file, project: project, blob: blob, index: i
      - else
        = render "projects/diffs/text_file", diff_file: diff_file, index: i
    - elsif blob.image?
      - old_file = project.repository.prev_blob_for_diff(@commit, diff_file)
      = render "projects/diffs/image", diff_file: diff_file, old_file: old_file, file: blob, index: i
    - else
      .nothing-here-block 不能预览此文件类型

