.panel.panel-default
  .panel-heading.clearfix
    .input-group
      = search_field_tag :filter_group, nil, placeholder: '名称过滤', class: 'dash-filter form-control'
      - if current_user.can_create_group?
        .input-group-addon
          = link_to new_group_path, class: "" do
            %strong 新群组
  %ul.well-list.dash-list
    - groups.each do |group|
      %li.group-row
        = link_to group_path(id: group.path), class: dom_class(group) do
          = image_tag group_icon(group.path), class: "avatar s24"
          %span.group-name.filter-title
            = truncate(group.name, length: 35)
          %span.arrow
            %i.fa.fa-angle-right
    - if groups.blank?
      %li
        .nothing-here-block 没有群组。
