.panel.panel-default
  .panel-heading.clearfix
    .input-group
      = search_field_tag :filter_projects, nil, placeholder: '名称过滤', class: 'dash-filter form-control'
      - if current_user.can_create_project?
        .input-group-addon
          = link_to new_project_path, class: "" do
            %strong 新项目

  %ul.well-list.dash-list
    - projects.each do |project|
      %li.project-row
        = render "project", project: project

    - if projects.blank?
      %li
        .nothing-here-block 没有项目。
    - if @projects_count > @projects_limit
      %li.bottom
        %span.light
          显示 #{@projects_limit} / #{pluralize(@projects_count, '个项目', '个项目')}。
        .pull-right
          = link_to projects_dashboard_path do
            显示所有
            %i.fa.fa-angle-right
