%h3.page-title 欢迎使用 GitLab！
%p.light 自托管 Git 版本库管理应用。
%hr
%div
  .dashboard-intro-icon
    %i.fa.fa-bookmark-o
  .dashboard-intro-text
    %p.slead
      无法访问任何项目。
      %br
      - if current_user.can_create_project?
        你可以创建
        %strong= pluralize(current_user.projects_limit, "个项目", "个项目") + "。"
      - else
        如果被加入项目，将会在这里显示。

    - if current_user.can_create_project?
      .link_holder
        = link_to new_project_path, class: "btn btn-new" do
          新项目 »

- if current_user.can_create_group?
  %hr
  %div
    .dashboard-intro-icon
      %i.fa.fa-users
    .dashboard-intro-text
      %p.slead
        可以创建一个有多个相关项目的群组。
        %br
        群组是最好的管理项目和成员的方式。
      .link_holder
        = link_to new_group_path, class: "btn btn-new" do
          新群组 »

-if @publicish_project_count > 0
  %hr
  %div
    .dashboard-intro-icon
      %i.fa.fa-globe
    .dashboard-intro-text
      %p.slead
        版本库有
        %strong= @publicish_project_count
        个公开项目。
        %br
        公开项目可以让所有人只读访问。
      .link_holder
        = link_to trending_explore_projects_path, class: "btn btn-new" do
          浏览公开项目 »
