%h3.page-title
  我的项目

%p.light
  所有能访问的项目列表。不显示未参与的公开项目
%hr
.side-filters
  = render "projects_filter"
.dash-projects
  %ul.bordered-list.my-projects.top-list
    - @projects.each do |project|
      %li.my-project-row
        %h4.project-title
          .project-access-icon
            = visibility_level_icon(project.visibility_level)
          = link_to project_path(project), class: dom_class(project) do
            = project.name_with_namespace

          - if project.forked_from_project
            &nbsp;
            %small
              %i.fa.fa-code-fork
              派生自：
              = link_to project.forked_from_project.name_with_namespace, project_path(project.forked_from_project)

          - if current_user.can_leave_project?(project)
            .pull-right
              = link_to leave_project_team_members_path(project), data: { confirm: "离开项目？"}, method: :delete, remote: true, class: "btn-tiny btn remove-row", title: '离开项目' do
                %i.fa.fa-sign-out
                离开

        .project-info
          .pull-right
            - if project.archived?
              %span.label
                %i.fa.fa-archive
                已归档
            - project.tags.each do |tag|
              %span.label.label-info
                %i.fa.fa-tag
                = tag.name
          - if project.description.present?
            %p= truncate project.description, length: 100
          .last-activity
            %span.light 最后活动：
            %span.date= project_last_activity(project)


      - if @projects.blank?
        %li
          .nothing-here-block 没有项目。
  .bottom
    = paginate @projects, theme: "gitlab"

