.clearfix
  .pull-left
    = form_tag explore_groups_path, method: :get, class: 'form-inline form-tiny' do |f|
      .form-group
        = search_field_tag :search, params[:search], placeholder: "按名称过滤", class: "form-control search-text-input input-mn-300", id: "groups_search"
      .form-group
        = button_tag '搜索', class: "btn btn-primary wide"

  .pull-right
    .dropdown.inline
      %a.dropdown-toggle.btn{href: '#', "data-toggle" => "dropdown"}
        %span.light 排序：
        - if params[:sort] == 'newest'
          最近创建的
        - elsif params[:sort] == 'oldest'
          最旧创建的
        - elsif params[:sort] == 'recently_updated'
          最近更新的
        - elsif params[:sort] == 'last_updated'
          最旧更新的
        - else
          名称
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to explore_groups_path(sort: nil) do
            名称
          = link_to explore_groups_path(sort: 'newest') do
            = sort_title_recently_created
          = link_to explore_groups_path(sort: 'oldest') do
            = sort_title_oldest_created
          = link_to explore_groups_path(sort: 'recently_updated') do
            = sort_title_recently_updated
          = link_to explore_groups_path(sort: 'last_updated') do
            = sort_title_oldest_updated

%hr

%ul.bordered-list
  - @groups.each do |group|
    %li
      .clearfix
        %h4
          = link_to group_path(id: group.path) do
            %i.fa.fa-users
            = group.name
      .clearfix
        %p
          = truncate group.description, length: 150
      .clearfix
        %p.light
          #{pluralize(group.members.size, '个成员', '个成员')}, #{pluralize(group.projects.count, '个项目', '个项目')}
  - unless @groups.present?
    .nothing-here-block 没有公开群组


= paginate @groups, theme: "gitlab"
