%h3.page-title
  OAuth2

%fieldset.oauth-applications
  %legend 应用
  %p= link_to '新应用', new_oauth_application_path, class: 'btn btn-success'
  - if @applications.any?
    %table.table.table-striped
      %thead
        %tr
          %th 名称
          %th 回调链接
          %th 客户端
          %th
          %th
      %tbody
        - @applications.each do |application|
          %tr{:id => "application_#{application.id}"}
            %td= link_to application.name, oauth_application_path(application)
            %td
              - application.redirect_uri.split.each do |uri|
                %div= uri
            %td= application.access_tokens.count
            %td= link_to '编辑', edit_oauth_application_path(application), class: 'btn btn-link btn-small'
            %td= render 'doorkeeper/applications/delete_form', application: application

%fieldset.oauth-authorized-applications.prepend-top-20
  %legend 认证应用

  - if @authorized_tokens.any?
    %table.table.table-striped
      %thead
        %tr
          %th 名称
          %th 认证时间
          %th 范围
          %th
      %tbody
        - @authorized_tokens.each do |token|
          - application = token.application
          %tr{:id => "application_#{application.id}"}
            %td= application.name
            %td= token.created_at
            %td= token.scopes
            %td= render 'doorkeeper/authorized_applications/delete_form', application: application
  - else
    %p.light 没有认证任何应用
