%h3.page-title
  界面设置
%p.light
  界面设置会保存在个人资料中并在所有设备上生效
%hr

= form_for @user, url: profile_path, remote: true, method: :put do |f|
  %fieldset.application-theme
    %legend
      程序主题
    .themes_opts
      = label_tag do
        .prev.default
        = f.radio_button :theme_id, 1
        默认

      = label_tag do
        .prev.classic
        = f.radio_button :theme_id, 2
        经典

      = label_tag do
        .prev.modern
        = f.radio_button :theme_id, 3
        现代

      = label_tag do
        .prev.gray
        = f.radio_button :theme_id, 4
        灰色

      = label_tag do
        .prev.violet
        = f.radio_button :theme_id, 5
        紫色
    %br
    .clearfix

  %fieldset.code-preview-theme
    %legend
      代码预览主题
    .code_highlight_opts
      - color_schemes.each do |color_scheme_id, color_scheme|
        = label_tag do
          .prev
            = image_tag "#{color_scheme}-scheme-preview.png"
          = f.radio_button :color_scheme_id, color_scheme_id
          = color_scheme.gsub(/[-_]+/, ' ').humanize
