- if @already_been_taken
  :plain
    target_field = $("tr#repo_#{@repo_id} .import-target")
    origin_target = target_field.text()
    project_name = "#{@project_name}"
    origin_namespace = "#{@target_namespace}"
    target_field.empty()
    target_field.append("<p class='alert alert-danger'>此命名空间已被使用！请选择其他的</p>")
    target_field.append("<input type='text' name='target_namespace' />")
    target_field.append("/" + project_name)
    target_field.data("project_name", project_name)
    target_field.find('input').prop("value", origin_namespace)
- else
  :plain
    $("table.import-jobs tbody").prepend($("tr#repo_#{@repo_id}"))
    $("tr#repo_#{@repo_id}").addClass("active").find(".import-actions").html("<i class='fa fa-spinner fa-spin'></i> 已开始")
