.login-box
  .login-heading
    %h3 注册
  .login-body
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .devise-errors
        = devise_error_messages!
      %div
        = f.text_field :name, class: "form-control top", placeholder: "姓名", required: true
      %div
        = f.text_field :username, class: "form-control middle", placeholder: "用户名", required: true
      %div
        = f.email_field :email, class: "form-control middle", placeholder: "电子邮箱", required: true
      %div
        = f.password_field :password, class: "form-control middle", placeholder: "密码", required: true
      %div
        = f.password_field :password_confirmation, class: "form-control bottom", placeholder: "确认密码", required: true
      %div
        = f.submit "注册", class: "btn-create btn"
  .login-footer
    %p
      %span.light
        已有账号？
      %strong
        = link_to "登入", new_session_path(resource_name)
    %p
      = link_to "忘记密码？", new_password_path(resource_name)
