= form_for @application_setting, url: admin_application_settings_path, html: { class: 'form-horizontal fieldset-form' } do |f|
  - if @application_setting.errors.any?
    #error_explanation
      .alert.alert-danger
        - @application_setting.errors.full_messages.each do |msg|
          %p= msg

  %fieldset
    %legend 功能
    .form-group
      = f.label :signup_enabled, "开启注册", class: 'control-label'
      .col-sm-10
        = f.check_box :signup_enabled, class: 'checkbox'
    .form-group
      = f.label :signin_enabled, "开启登入", class: 'control-label'
      .col-sm-10
        = f.check_box :signin_enabled, class: 'checkbox'
    .form-group
      = f.label :gravatar_enabled, "开启头像", class: 'control-label'
      .col-sm-10
        = f.check_box :gravatar_enabled, class: 'checkbox'
  %fieldset
    %legend 杂项
    .form-group
      = f.label :default_projects_limit, "默认项目限制", class: 'control-label'
      .col-sm-10
        = f.number_field :default_projects_limit, class: 'form-control'
    .form-group
      = f.label :home_page_url, "主页链接", class: 'control-label'
      .col-sm-10
        = f.text_field :home_page_url, class: 'form-control', placeholder: 'http://company.example.com'
        %span.help-block 未登录用户将会重定向到此页面
    .form-group
      = f.label :sign_in_text, "登入文字", class: 'control-label'
      .col-sm-10
        = f.text_area :sign_in_text, class: 'form-control'
  .form-actions
    = f.submit '保存', class: 'btn btn-primary'
