- unless defined?(project)
  - project = @project

- @commits.group_by { |c| c.committed_date.to_date }.sort.reverse.each do |day, commits|
  .row.commits-row
    .col-md-2
      %h4
        %i.fa.fa-calendar
        %span= day.stamp("2010-12-31")
      %p= pluralize(commits.count, '次提交', '次提交')
    .col-md-10
      %ul.bordered-list
        = render commits, project: project
  %hr.lists-separator
