= render "head"

.tree-ref-holder
  = render 'shared/ref_switcher', destination: 'commits'

- if current_user && current_user.private_token
  .commits-feed-holder.hidden-xs.hidden-sm
    = link_to project_commits_path(@project, @ref, {format: :atom, private_token: current_user.private_token}), title: "动态", class: 'btn' do
      %i.fa.fa-rss
      提交动态

%ul.breadcrumb.repo-breadcrumb
  = commits_breadcrumbs

%div{id: dom_id(@project)}
  #commits-list= render "commits", project: @project
.clear
= spinner

- if @commits.count == @limit
  :javascript
    CommitsList.init("#{@ref}", #{@limit});

