.login-box
  .login-heading
    %h3 注册
  .login-body
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .devise-errors
        = devise_error_messages!
      %div
        = f.text_field :name, class: "form-control top", placeholder: "姓名", required: true
      %div
        = f.text_field :username, class: "form-control middle", placeholder: "用户名", required: true
      %div
        = f.email_field :email, class: "form-control middle", placeholder: "电子邮箱", required: true
      .form-group#password-strength
        = f.password_field :password, class: "form-control bottom", id: "user_password_sign_up", placeholder: "密码", required: true
      %div
        = f.submit "注册", class: "btn-create btn"
