.login-box
  .login-heading
    %h3 登入
  .login-body
    - if ldap_enabled?
      %ul.nav.nav-tabs
        - @ldap_servers.each_with_index do |server, i|
          %li{class: (:active if i.zero?)}
            = link_to server['label'], "#tab-#{server['provider_name']}", 'data-toggle' => 'tab'
        - if signin_enabled?
          %li
            = link_to '基本', '#tab-signin', 'data-toggle' => 'tab'
      .tab-content
        - @ldap_servers.each_with_index do |server, i|
          %div.tab-pane{id: "tab-#{server['provider_name']}", class: (:active if i.zero?)}
            = render 'devise/sessions/new_ldap', provider: server['provider_name']
        - if signin_enabled?
          %div#tab-signin.tab-pane
            = render 'devise/sessions/new_base'

    - elsif signin_enabled?
      = render 'devise/sessions/new_base'
    - else
      %div
        没有配置任何一种认证方法。
