%h3.page-title
  = @snippet.title

  - if @snippet.private?
    %span.label.label-success
      %i.fa.fa-lock
      私有

  .pull-right
    = link_to new_snippet_path, class: "btn btn-new", title: "新代码片段" do
      增加新的代码片段
%hr

.append-bottom-20
  .pull-right
    = "##{@snippet.id}"
    %span.light
      属于
      = link_to user_snippets_path(@snippet.author) do
        = image_tag avatar_icon(@snippet.author_email), class: "avatar avatar-inline s16"
        = @snippet.author_name

  .back-link
    - if @snippet.author == current_user
      = link_to user_snippets_path(current_user) do
        &larr; 我的代码片段
    - else
      = link_to snippets_path do
        &larr; 探索代码片段

.file-holder
  .file-title
    %i.fa.fa-file
    %span.file_name
      = @snippet.file_name
    .options
      .btn-group
        - if can?(current_user, :modify_personal_snippet, @snippet)
          = link_to "编辑", edit_snippet_path(@snippet), class: "btn btn-small", title: '编辑代码片段'
        = link_to "原文件", raw_snippet_path(@snippet), class: "btn btn-small", target: "_blank"
      - if can?(current_user, :admin_personal_snippet, @snippet)
        = link_to "删除", snippet_path(@snippet), method: :delete, data: { confirm: "确定要继续么？" }, class: "btn btn-small btn-remove", title: '删除代码片段'
  = render 'shared/snippets/blob'
