%h3.page-title
  = image_tag avatar_icon(@user.email), class: "avatar s24"
  = @user.name
  %span
    \/
    代码片段
  - if current_user
    = link_to new_snippet_path, class: "btn btn-small add_new pull-right", title: "新代码片段" do
      增加新的代码片段

%hr

= render 'snippets'
