.note-edit-form
  = form_for note, url: project_note_path(@project, note), method: :put, remote: true, authenticity_token: true do |f|
    = render layout: 'projects/md_preview' do
      = render 'projects/zen', f: f, attr: :note,
        classes: 'note_text js-note-text'

      .comment-hints.clearfix
        .pull-left 评论被解析为 #{link_to "GitLab 特色 Markdown", help_page_path("markdown", "markdown"),{ target: '_blank', tabindex: -1 }} 格式。
        .pull-right 可以拖放或#{link_to "选择文件", '#', class: 'markdown-selector', tabindex: -1 }来附加图片(JPG, PNG, GIF)。

    .note-form-actions
      .buttons
        = f.submit '保存评论', class: "btn btn-primary btn-save btn-grouped js-comment-button"
        = link_to  '取消', "#", class: "btn btn-cancel note-edit-cancel"

      .note-form-option.hidden-xs
        %a.choose-btn.btn.js-choose-note-attachment-button
          %i.fa.fa-paperclip
          %span 选择文件...
        &nbsp;
        %span.file_name.js-attachment-filename
        = f.file_field :attachment, class: "js-note-attachment-input hidden"
