= form_for [@project, @note], remote: true, html: { :'data-type' => 'json', multipart: true, id: nil, class: "new_note js-new-note-form common-note-form gfm-form" }, authenticity_token: true do |f|
  = note_target_fields
  = f.hidden_field :commit_id
  = f.hidden_field :line_code
  = f.hidden_field :noteable_id
  = f.hidden_field :noteable_type

  = render layout: 'projects/md_preview' do
    = render 'projects/zen', f: f, attr: :note,
      classes: 'note_text js-note-text'

    .comment-hints.clearfix
      .pull-left 评论被解析为 #{link_to "GitLab 特色 Markdown", help_page_path("markdown", "markdown"),{ target: '_blank', tabindex: -1 }} 格式。
      .pull-right 可以拖放或#{link_to "选择文件", '#', class: 'markdown-selector', tabindex: -1 }来附加图片(JPG, PNG, GIF)。


  .note-form-actions
    .buttons
      = f.submit '增加评论', class: "btn comment-btn btn-grouped js-comment-button"
      = yield(:note_actions)
      %a.btn.grouped.js-close-discussion-note-form 取消

    .note-form-option.hidden-xs
      %a.choose-btn.btn.js-choose-note-attachment-button
        %i.fa.fa-paperclip
        %span 选择文件...
      &nbsp;
      %span.file_name.js-attachment-filename
      = f.file_field :attachment, class: "js-note-attachment-input hidden"

:javascript
  window.project_image_path_upload = "#{upload_image_project_path @project}";
