%h3.page-title
  管理区域
%p.light
  管理项目、用户和其他 Git 版本库数据。
%hr
.admin-dashboard
  .row
    .col-sm-4
      .light-well
        %h4 项目
        .data
          = link_to admin_projects_path do
            %h1= Project.count
          %hr
          = link_to '新项目', new_project_path, class: "btn btn-new"
    .col-sm-4
      .light-well
        %h4 用户
        .data
          = link_to admin_users_path do
            %h1= User.count
          %hr
          = link_to '新用户', new_admin_user_path, class: "btn btn-new"
    .col-sm-4
      .light-well
        %h4 群组
        .data
          = link_to admin_groups_path do
            %h1= Group.count
          %hr
          = link_to '新群组', new_admin_group_path, class: "btn btn-new"

  .row.prepend-top-10
    .col-md-4
      %h4 最近项目
      %hr
      - @projects.each do |project|
        %p
          = link_to project.name_with_namespace, [:admin, project], class: 'str-truncated'
          %span.light.pull-right
            #{time_ago_with_tooltip(project.created_at)}

    .col-md-4
      %h4 最近用户
      %hr
      - @users.each do |user|
        %p
          = link_to [:admin, user], class: 'str-truncated' do
            = user.name
          %span.light.pull-right
            #{time_ago_with_tooltip(user.created_at)}

    .col-md-4
      %h4 最近群组
      %hr
      - @groups.each do |group|
        %p
          = link_to [:admin, group], class: 'str-truncated' do
            = group.name
          %span.light.pull-right
            #{time_ago_with_tooltip(group.created_at)}

  %br
  .row
    .col-md-4
      %h4 统计
      %hr
      %p
        派生
        %span.light.pull-right
          = ForkedProjectLink.count
      %p
        问题
        %span.light.pull-right
          = Issue.count
      %p
        合并请求
        %span.light.pull-right
          = MergeRequest.count
      %p
        笔记
        %span.light.pull-right
          = Note.count
      %p
        代码片段
        %span.light.pull-right
          = Snippet.count
      %p
        SSH 密钥
        %span.light.pull-right
          = Key.count
      %p
        里程碑
        %span.light.pull-right
          = Milestone.count
      %p
        最近 30 天活跃用户
        %span.light.pull-right
          = User.where("current_sign_in_at > ?", 30.days.ago).count
    .col-md-4
      %h4
        功能
      %hr
      %p
        注册
        %span.light.pull-right
          = boolean_to_icon signup_enabled?
      %p
        LDAP
        %span.light.pull-right
          = boolean_to_icon Gitlab.config.ldap.enabled
      %p
        头像
        %span.light.pull-right
          = boolean_to_icon gravatar_enabled?
      %p
        OmniAuth
        %span.light.pull-right
          = boolean_to_icon Gitlab.config.omniauth.enabled
    .col-md-4
      %h4 组件
      %hr
      %p
        GitLab
        %span.pull-right
          = Gitlab::VERSION
      %p
        GitLab Shell
        %span.pull-right
          = Gitlab::Shell.new.version
      %p
        GitLab API
        %span.pull-right
          = API::API::version
      %p
        Ruby
        %span.pull-right
          #{RUBY_VERSION}p#{RUBY_PATCHLEVEL}

      %p
        Rails
        %span.pull-right
          #{Rails::VERSION::STRING}
