%ul.nav.nav-sidebar
  = nav_link(path: 'dashboard#show', html_options: {class: 'home'}) do
    = link_to root_path, title: '主页', class: 'shortcuts-activity' do
      %i.fa.fa-dashboard
      %span
        活动
  = nav_link(path: 'dashboard#projects') do
    = link_to projects_dashboard_path, class: 'shortcuts-projects' do
      %i.fa.fa-cube
      %span
        项目
  = nav_link(path: 'dashboard#issues') do
    = link_to assigned_issues_dashboard_path, class: 'shortcuts-issues' do
      %i.fa.fa-exclamation-circle
      %span
        问题
        %span.count= current_user.assigned_issues.opened.count
  = nav_link(path: 'dashboard#merge_requests') do
    = link_to assigned_mrs_dashboard_path, class: 'shortcuts-merge_requests' do
      %i.fa.fa-tasks
      %span
        合并请求
        %span.count= current_user.assigned_merge_requests.opened.count
  = nav_link(controller: :help) do
    = link_to help_path do
      %i.fa.fa-question-circle
      %span
        帮助

