%ul.nav.nav-sidebar
  = nav_link(path: 'groups#show', html_options: {class: 'home'}) do
    = link_to group_path(@group), title: "主页" do
      %i.fa.fa-dashboard
      %span
        活动
  - if current_user
    = nav_link(controller: [:group, :milestones]) do
      = link_to group_milestones_path(@group) do
        %i.fa.fa-clock-o
        %span
          里程碑
  = nav_link(path: 'groups#issues') do
    = link_to issues_group_path(@group) do
      %i.fa.fa-exclamation-circle
      %span
        问题
        - if current_user
          %span.count= Issue.opened.of_group(@group).count
  = nav_link(path: 'groups#merge_requests') do
    = link_to merge_requests_group_path(@group) do
      %i.fa.fa-tasks
      %span
        合并请求
        - if current_user
          %span.count= MergeRequest.opened.of_group(@group).count
  = nav_link(path: 'groups#members') do
    = link_to members_group_path(@group) do
      %i.fa.fa-users
      %span
        成员

  - if can?(current_user, :manage_group, @group)
    = nav_link(html_options: { class: "#{"active" if group_settings_page?} separate-item" }) do
      = link_to edit_group_path(@group), class: "tab no-highlight" do
        %i.fa.fa-cogs
        %span
          设置
          %i.fa.fa-angle-down

  - if group_settings_page?
    = render 'groups/settings_nav'
