%ul.nav.nav-sidebar
  = nav_link(path: 'profiles#show', html_options: {class: 'home'}) do
    = link_to profile_path, title: "个人资料" do
      %i.fa.fa-user
      %span
        个人资料
  = nav_link(controller: :accounts) do
    = link_to profile_account_path do
      %i.fa.fa-gear
      %span
        账号
  = nav_link(path: ['profiles#applications', 'applications#edit', 'applications#show', 'applications#new']) do
    = link_to applications_profile_path do
      %i.fa.fa-cloud
      %span
        应用
  = nav_link(controller: :emails) do
    = link_to profile_emails_path do
      %i.fa.fa-envelope-o
      %span
        电子邮箱
        %span.count= current_user.emails.count + 1
  - unless current_user.ldap_user?
    = nav_link(controller: :passwords) do
      = link_to edit_profile_password_path do
        %i.fa.fa-lock
        %span
          密码
  = nav_link(controller: :notifications) do
    = link_to profile_notifications_path do
      %i.fa.fa-inbox
      %span
        通知

  = nav_link(controller: :keys) do
    = link_to profile_keys_path do
      %i.fa.fa-key
      %span
        SSH 密钥
        %span.count= current_user.keys.count
  = nav_link(path: 'profiles#design') do
    = link_to design_profile_path do
      %i.fa.fa-image
      %span
        风格
  = nav_link(controller: :groups) do
    = link_to profile_groups_path do
      %i.fa.fa-group
      %span
        群组
  = nav_link(path: 'profiles#history') do
    = link_to history_profile_path do
      %i.fa.fa-history
      %span
        历史

