!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
          %title Doorkeeper
          = stylesheet_link_tag "doorkeeper/admin/application"
          = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          = link_to 'OAuth2 提供者', oauth_applications_path, class: 'navbar-brand'
        %ul.nav.navbar-nav
          = content_tag :li, class: "#{'active' if request.path == oauth_applications_path}" do
            = link_to '应用', oauth_applications_path
    .container
      - if flash[:notice].present?
        .alert.alert-info
          = flash[:notice]
      = yield