%h3.page-title
  - if @project.import_failed?
    导入失败。是否重试？
  - else
    导入仓库

%hr

= form_for @project, url: project_import_path(@project), method: :post, html: { class: 'form-horizontal' } do |f|
  .form-group.import-url-data
    = f.label :import_url, class: 'control-label' do
      %span 导入已存在的 git 仓库
    .col-sm-10
      = f.text_field :import_url, "导入链接", class: 'form-control', placeholder: 'https://github.com/randx/six.git'
      .bs-callout.bs-callout-info
        链接必须能公开访问或指定用户名和密码类似：https://username:password@gitlab.com/company/project.git.
        %br
        导入超过 4 分钟将会超时。对于大仓库，请使用 clone/push 组合操作。
        对于 SVN 仓库，请查看#{link_to "从 SVN 合并文档。", "http://doc.gitlab.com/ce/workflow/migrating_from_svn.html"}
  .form-actions
    = f.submit '开始导入', class: "btn btn-create", tabindex: 4
