- unless @branches.empty?
  %br
  %h4 已经保护的：
  %table.table.protected-branches-list
    %thead
      %tr.no-border
        %th 分支
        %th 能推送的开发者
        %th 上次提交
        %th

    %tbody
      - @branches.each do |branch|
        - @url = project_protected_branch_path(@project, branch)
        %tr
          %td
            = link_to project_commits_path(@project, branch.name) do
              %strong= branch.name
              - if @project.root_ref?(branch.name)
                %span.label.label-info 默认
            %td
              = check_box_tag "developers_can_push", branch.id, branch.developers_can_push, "data-url" => @url
            %td
              - if commit = branch.commit
                = link_to project_commit_path(@project, commit.id), class: 'commit_short_id' do
                  = commit.short_id
                &middot;
                #{time_ago_with_tooltip(commit.committed_date)}
              - else
                (分支已从仓库中删除)
            %td
              .pull-right
                - if can? current_user, :admin_project, @project
                  = link_to '取消保护', [@project, branch], data: { confirm: '该分支将允许开发者修改。确定要继续么？' }, method: :delete, class: "btn btn-remove btn-small"
