%h3.page-title 保护的分支
%p.light 此功能用于保护稳定分支被覆盖以及合并保护分支前必须强制代码评审。
%hr

.bs-callout.bs-callout-info
  %p 保护的分支设计为：
  %ul
    %li prevent pushes from everybody except #{link_to "masters", help_page_path("permissions", "permissions"), class: "vlink"}
    %li prevent anyone from force pushing to the branch
    %li prevent anyone from deleting the branch
  %p 关于项目权限点击 #{link_to "这里", help_page_path("permissions", "permissions"), class: "underlined-link"} 了解更多

- if can? current_user, :admin_project, @project
  = form_for [@project, @protected_branch], html: { class: 'form-horizontal' } do |f|
    -if @protected_branch.errors.any?
      .alert.alert-danger
        %ul
          - @protected_branch.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :name, "分支", class: 'control-label'
      .col-sm-10
        = f.select(:name, @project.open_branches.map { |br| [br.name, br.name] } , {include_blank: "选择分支"}, {class: "select2"})
    .form-group
      = f.label :developers_can_push, class: 'control-label' do
        开发者可以推送
      .col-sm-10
        .checkbox
          = f.check_box :developers_can_push
          %span.descr 允许开发者推送到此分支
    .form-actions
      = f.submit '保护', class: "btn-create btn"
= render 'branches_list'

