%h3.page-title
  账号设置
%p.light
  修改用户名和私有授权。
  - if current_user.ldap_user?
    部分设置对于 LDAP 账号无效
%hr


.account-page
  %fieldset.update-token
    %legend
      私有授权
    %div
      = form_for @user, url: reset_private_token_profile_path, method: :put do |f|
        .data
          %p
            私有授权可以免登录访问应用资源。
            %br
            通常在 RSS 和 API 中使用。
            %span.cred
              注意保密！

          %p.cgray
            - if current_user.private_token
              = text_field_tag "token", current_user.private_token, class: "form-control"
              %div
                = f.submit '重置', data: { confirm: "确定要继续么？" }, class: "btn btn-primary btn-build-token"
            - else
              %span 没有私有授权，点生成按钮可修复。
              = f.submit '生成', class: "btn success btn-build-token"


  - if show_profile_social_tab?
    %fieldset
      %legend 社会化账号
      .oauth_select_holder.append-bottom-10
        %p 点击下列服务的图标激活第三方登入
        - enabled_social_providers.each do |provider|
          %span{class: oauth_active_class(provider) }
            = link_to authbutton(provider, 32), omniauth_authorize_path(User, provider)

  - if show_profile_username_tab?
    %fieldset.update-username
      %legend
        用户名
      = form_for @user, url: update_username_profile_path,  method: :put, remote: true do |f|
        %p
          修改用户名会同时修改所有个人项目的路径！
        %div
          = f.text_field :username, required: true, class: 'form-control'
          &nbsp;
        .loading-gif.hide
          %p
            %i.fa.fa-spinner.fa-spin
            正在保存新的用户名
        %p.light
          = user_url(@user)
        %div
          = f.submit '保存用户名', class: "btn btn-save"

  - if show_profile_remove_tab?
    %fieldset.remove-account
      %legend
        删除账号
      %div
        %p 删除账号会有如下影响：
        %ul
          %li 所有用户内容，比如：问题、代码片段、注释将被删除
          - rp = current_user.personal_projects.count
          - unless rp.zero?
            %li #{pluralize rp, '个个人项目', '个个人项目'}将被删除并无法恢复
          - if current_user.solo_owned_groups.present?
            %li
              下列群组将被废弃。建议先转移或删除：
              %strong #{current_user.solo_owned_groups.map(&:name).join(', ')}
        = link_to '删除账号', user_registration_path, data: { confirm: "确定要删除 #{current_user.name} 么？" }, method: :delete, class: "btn btn-remove"

