= form_for application, url: doorkeeper_submit_path(application), html: {class: 'form-horizontal', role: 'form'} do |f|
  - if application.errors.any?
    .alert.alert-danger{"data-alert" => ""}
      %p 请检查错误！
  = content_tag :div, class: "form-group#{' has-error' if application.errors[:name].present?}" do
    = f.label :name, "名称", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
      = doorkeeper_errors_for application, :name
  = content_tag :div, class: "form-group#{' has-error' if application.errors[:redirect_uri].present?}" do
    = f.label :redirect_uri, "重定向 URI", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :redirect_uri, class: 'form-control'
      = doorkeeper_errors_for application, :redirect_uri
      %span.help-block
        每个 URI 使用一行
      - if Doorkeeper.configuration.native_redirect_uri
        %span.help-block
          使用
          %code= Doorkeeper.configuration.native_redirect_uri
          作为本地测试
  .form-actions
    = f.submit '提交', class: "btn btn-primary wide"
    = link_to "取消", applications_profile_path, class: "btn btn-default"
