%li
  .pull-right
    - if @available_keys.include?(deploy_key)
      = link_to enable_project_deploy_key_path(@project, deploy_key), class: 'btn btn-small', method: :put do
        %i.fa.fa-plus
        启用
    - else
      - if deploy_key.projects.count > 1
        = link_to disable_project_deploy_key_path(@project, deploy_key), class: 'btn btn-small', method: :put do
          %i.fa.fa-power-off
          禁用
      - else
        = link_to '删除', project_deploy_key_path(@project, deploy_key), data: { confirm: '确定要删除部署密钥么？'}, method: :delete, class: "btn btn-remove delete-key btn-small pull-right"


  = link_to project_deploy_key_path(deploy_key.projects.include?(@project) ? @project : deploy_key.projects.first, deploy_key) do
    %i.fa.fa-key
    %strong= deploy_key.title

  %p.light.prepend-top-10
    - deploy_key.projects.map(&:name_with_namespace).each do |project_name|
      %span.label.label-gray.deploy-project-label= project_name
    %small.pull-right
      创建时间 #{time_ago_with_tooltip(deploy_key.created_at)}
