%h3.page-title
  使用部署密钥只读访问存储库

  = link_to new_project_deploy_key_path(@project), class: "btn btn-new pull-right", title: "新部署密钥" do
    %i.fa.fa-plus
    新部署密钥

%p.light
  部署密钥用于测试、预发布和产品服务器获取版本仓库的代码。
  请创建一个新的或增加已存在的 SSH 密钥

%hr.clearfix

.row
  .col-md-6.enabled-keys
    %h5
      %strong.cgreen 本项目已启用的部署密钥
    %ul.bordered-list
      = render @enabled_keys
      - if @enabled_keys.blank?
        .light-well
          .nothing-here-block 创建#{link_to '新部署密钥', new_project_deploy_key_path(@project)}或增加已存在的
  .col-md-6.available-keys
    %h5
      可用的
      %strong 部署密钥
    %ul.bordered-list
      = render @available_keys
      - if @available_keys.blank?
        .light-well
          .nothing-here-block 本项目可用的部署密钥
