%h3.page-title
  部署密钥：
  = @key.title
  %small
    创建时间
    = @key.created_at.stamp("2011-12-31")
.back-link
  = link_to project_deploy_keys_path(@project) do
    &larr; 返回密钥列表
%hr
%pre= @key.key
.pull-right
  = link_to '删除', project_deploy_key_path(@project, @key), data: { confirm: '确定要删除么？'}, method: :delete, class: "btn-remove btn delete-key"
