%h3.page-title 密码
%p.light
  修改密码或恢复当前密码。
%hr
.update-password
  = form_for @user, url: profile_password_path, method: :put, html: { class: 'form-horizontal' }  do |f|
    %div
      %p.slead
        必须提供当前密码才能修改密码。
        %br
        密码被成功修改后将会重定向到登录页面使用新密码重新登录
      -if @user.errors.any?
        .alert.alert-danger
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        = f.label :current_password, '当前密码', class: 'control-label'
        .col-sm-10
          = f.password_field :current_password, required: true, class: 'form-control'
          %div
            = link_to "忘记密码？", reset_profile_password_path, method: :put

      .form-group
        = f.label :password, '新密码', class: 'control-label'
        .col-sm-10
          = f.password_field :password, required: true, class: 'form-control'
      .form-group
        = f.label :password_confirmation, '确认密码', class: 'control-label'
        .col-sm-10
          = f.password_field :password_confirmation, required: true, class: 'form-control'
      .form-actions
        = f.submit '保存密码', class: "btn btn-save"
