.panel.panel-default
  .panel-heading
    项目 (#{projects.count})
    - if can? current_user, :create_projects, @group
      .panel-head-actions
        = link_to new_project_path(namespace_id: @group.id), class: "btn btn-new" do
          %i.fa.fa-plus
          新项目
  %ul.well-list
    - if projects.blank?
      .nothing-here-block 群组下没有项目
    - projects.each do |project|
      %li.project-row
        = link_to project_path(project), class: dom_class(project) do
          .dash-project-access-icon
            = visibility_level_icon(project.visibility_level)
          %span.str-truncated
            %span.project-name
              = project.name
          %span.arrow
            %i.fa.fa-angle-right
