.panel.panel-default
  .panel-heading
    %strong= @group.name
    群组设置：
  .panel-body
    = form_for @group, html: { multipart: true, class: "form-horizontal" }, authenticity_token: true do |f|
      - if @group.errors.any?
        .alert.alert-danger
          %span= @group.errors.full_messages.first
      = render 'shared/group_form', f: f

      .form-group
        .col-sm-2
        .col-sm-10
          = image_tag group_icon(@group.to_param), alt: '', class: 'avatar s160'
          %p.light
            - if @group.avatar?
              在这里修改群组头像
            - else
              在这里上传群组头像
          = render 'shared/choose_group_avatar_button', f: f
          - if @group.avatar?
            %hr
            = link_to '删除头像', group_avatar_path(@group.to_param), data: { confirm: "确定要删除群组头像么？"}, method: :delete, class: "btn btn-remove btn-small remove-avatar"

      .form-actions
        = f.submit '保存群组', class: "btn btn-save"

.panel.panel-danger
  .panel-heading 删除群组
  .panel-body
    %p
      删除群组将删除所有子项目和相关资源。
      %br
      %strong 已删除的群组无法恢复！

    = link_to '删除群组', @group, data: {confirm: '删除群组无法恢复。确定要继续么？'}, method: :delete, class: "btn btn-remove"
