.panel.panel-default
  .panel-heading
    %strong= @group.name
    项目：
    - if can? current_user, :manage_group, @group
      .panel-head-actions
        = link_to new_project_path(namespace_id: @group.id), class: "btn btn-new" do
          %i.fa.fa-plus
          新项目
  %ul.well-list
    - @projects.each do |project|
      %li
        .list-item-name
          = visibility_level_icon(project.visibility_level)
          %strong= link_to project.name_with_namespace, project
          %span.label.label-gray
            = repository_size(project)
        .pull-right
          = link_to '成员', project_team_index_path(project), id: "edit_#{dom_id(project)}", class: "btn btn-small"
          = link_to '编辑', edit_project_path(project), id: "edit_#{dom_id(project)}", class: "btn btn-small"
          = link_to '删除', project, data: { confirm: remove_project_message(project)}, method: :delete, class: "btn btn-small btn-remove"
    - if @projects.blank?
      .nothing-here-block 该群组还没有项目

= paginate @projects, theme: "gitlab"
