.row
  .col-md-8
    %h3.page-title
      = image_tag avatar_icon(@user.email, 90), class: "avatar s90", alt: ''
      = @user.name
      - if @user == current_user
        .pull-right
          = link_to profile_path, class: 'btn' do
            %i.fa.fa-pencil-square-o
            修改个人资料设置
      %br
      %span.user-show-username #{@user.username}
      %br
      %small 注册时间 #{@user.created_at.stamp("2031-12-31")}
    .clearfix

    - if @groups.any?
      %h4 群组：
      = render 'groups', groups: @groups
      %hr
    %h4
      用户活动：

      - if current_user
        %span.rss-icon.pull-right
          = link_to user_path(@user, :atom, { private_token: current_user.private_token }) do
            %strong
              %i.fa.fa-rss

    = render @events
  .col-md-4
    = render 'profile', user: @user
    - if @projects.present?
      = render 'projects', projects: @projects
