.login-box
  .login-heading
    %h3 修改密码
  .login-body
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      .devise-errors
        = devise_error_messages!
      = f.hidden_field :reset_password_token
      %div
        = f.password_field :password, class: "form-control top", placeholder: "新密码", required: true
      %div
        = f.password_field :password_confirmation, class: "form-control bottom", placeholder: "确认新密码", required: true
      .clearfix.append-bottom-10
        = f.submit "修改密码", class: "btn btn-primary"
  .login-footer
    %p
      = link_to "没有收到确认邮件？", new_confirmation_path(resource_name)
    = render 'devise/shared/sign_in_link'
