.login-box
  .login-heading
    %h3 重置密码
  .login-body
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      .devise-errors
        = devise_error_messages!
      .clearfix.append-bottom-20
        = f.email_field :email, placeholder: "电子邮箱",  class: "form-control", required: true
      .clearfix.append-bottom-10
        = f.submit "重置密码", class: "btn-primary btn"
  .login-footer
    = render 'devise/shared/sign_in_link'
