.btn-group.tree-btn-group
  = edit_blob_link(@project, @ref, @path)
  = link_to '原文件', project_raw_path(@project, @id),
      class: 'btn btn-small', target: '_blank'
  -# only show normal/blame view links for text files
  - if @blob.text?
    - if current_page? project_blame_path(@project, @id)
      = link_to '普通视图', project_blob_path(@project, @id),
          class: 'btn btn-small'
    - else
      = link_to '审查', project_blame_path(@project, @id),
          class: 'btn btn-small' unless @blob.empty?
  = link_to '历史', project_commits_path(@project, @id),
      class: 'btn btn-small'
  - if @ref != @commit.sha
    = link_to '永久链接', project_blob_path(@project,
        tree_join(@commit.sha, @path)), class: 'btn btn-small'

- if allowed_tree_edit?
  = button_tag class: 'remove-blob btn btn-small btn-remove',
      'data-toggle' => 'modal', 'data-target' => '#modal-remove-blob' do
    删除
