- project = project || @project
.git-clone-holder.input-group
  .input-group-btn
    %button{class: "btn #{ 'active' if default_clone_protocol == 'ssh' }", :"data-clone" => project.ssh_url_to_repo} SSH
    %button{class: "btn #{ 'active' if default_clone_protocol == 'http' }", :"data-clone" => project.http_url_to_repo}= gitlab_config.protocol.upcase
  = text_field_tag :project_clone, default_url_to_repo(project), class: "one_click_select form-control", readonly: true
  - if project.kind_of?(Project)
    .input-group-addon
      .visibility-level-label.has_tooltip{'data-title' => "#{visibility_level_label(project.visibility_level)}项目" }
        = visibility_level_icon(project.visibility_level)
        = visibility_level_label(project.visibility_level).downcase
