.fixed.sidebar-expand-button.hidden-lg.hidden-md
  %i.fa.fa-list.fa-2x
.responsive-side.milestones-filters.append-bottom-10
  %ul.nav.nav-pills.nav-compact
    %li{class: ("active" if params[:state].blank? || params[:state] == 'opened')}
      = link_to milestones_filter_path(state: 'opened') do
        %i.fa.fa-exclamation-circle
        未关闭
    %li{class: ("active" if params[:state] == 'closed')}
      = link_to milestones_filter_path(state: 'closed') do
        %i.fa.fa-check-circle
        已关闭
    %li{class: ("active" if params[:state] == 'all')}
      = link_to milestones_filter_path(state: 'all') do
        %i.fa.fa-compass
        所有
