- if cookies[:hide_no_ssh_message].blank? && current_user.require_ssh_key? && !current_user.hide_no_ssh_key
  .no-ssh-key-message.alert.alert-warning.hidden-xs
    您的账号没有配置用于拉取/推送 SSH 版本库的密钥，请立即在个人资料中#{link_to 'add an SSH key', new_profile_key_path}

    .pull-right
      = link_to "不再显示", profile_path(user: {hide_no_ssh_key: true}), method: :put
      |
      = link_to '稍后提示', '#', class: 'hide-no-ssh-message'
