%li
  %h4.project-title
    .project-access-icon
      = visibility_level_icon(project.visibility_level)
    = link_to project.name_with_namespace, project

    - if current_page?(starred_explore_projects_path)
      %strong.pull-right
        %i.fa.fa-star
        = pluralize project.star_count, '个标记', '个标记'

  .project-info
    - if project.description.present?
      %p.project-description.str-truncated
        = project.description

    .repo-info
      - unless project.empty_repo?
        = link_to pluralize(project.repository.round_commit_count, '次提交', '次提交'), project_commits_path(project, project.default_branch)
        &middot;
        = link_to pluralize(project.repository.branch_names.count, '个分支', '个分支'), project_branches_path(project)
        &middot;
        = link_to pluralize(project.repository.tag_names.count, '个标签', '个标签'), project_tags_path(project)
      - else
        %i.fa.fa-exclamation-triangle
        空版本库
