.clearfix
  .pull-left
    = form_tag explore_projects_path, method: :get, class: 'form-inline form-tiny' do |f|
      .form-group
        = search_field_tag :search, params[:search], placeholder: "按名称过滤", class: "form-control search-text-input input-mn-300", id: "projects_search"
      .form-group
        = button_tag '搜索', class: "btn btn-primary wide"

  .pull-right
    .dropdown.inline
      %a.dropdown-toggle.btn{href: '#', "data-toggle" => "dropdown"}
        %span.light 排序：
        - if params[:sort] == 'newest'
          最近创建的
        - elsif params[:sort] == 'oldest'
          最旧创建的
        - elsif params[:sort] == 'recently_updated'
          最近更新的
        - elsif params[:sort] == 'last_updated'
          最旧更新的
        - else
          名称
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to explore_projects_path(sort: nil) do
            名称
          = link_to explore_projects_path(sort: 'newest') do
            = sort_title_recently_created
          = link_to explore_projects_path(sort: 'oldest') do
            = sort_title_oldest_created
          = link_to explore_projects_path(sort: 'recently_updated') do
            = sort_title_recently_updated
          = link_to explore_projects_path(sort: 'last_updated') do
            = sort_title_oldest_updated

%hr
.public-projects
  %ul.bordered-list.top-list
    = render @projects
    - unless @projects.present?
      .nothing-here-block 没有公开项目

  = paginate @projects, theme: "gitlab"
