- submit_btn_css ||= 'btn btn-link btn-remove btn-small'
= form_tag admin_application_path(application) do
  %input{:name => "_method", :type => "hidden", :value => "delete"}/
  = submit_tag '销毁', onclick: "return confirm('确定要继续么？')", class: submit_btn_css