%h3.page-title
  系统 OAuth 应用
%p.light
  系统 OAuth 应用不属于特定的用户，只由管理员管理
%hr
%p= link_to '新应用', new_admin_application_path, class: 'btn btn-success'
%table.table.table-striped
  %thead
    %tr
      %th 名称
      %th 回调链接
      %th 客户端
      %th
      %th
  %tbody
    - @applications.each do |application|
      %tr{:id => "application_#{application.id}"}
        %td= link_to application.name, admin_application_path(application)
        %td= application.redirect_uri
        %td= application.access_tokens.count
        %td= link_to '编辑', edit_admin_application_path(application), class: 'btn btn-link'
        %td= render 'delete_form', application: application
