%div{xmlns: "http://www.w3.org/1999/xhtml"}
  - event.commits.first(15).each do |commit|
    %p
      %strong= commit[:author][:name]
      = link_to "(##{truncate_sha(commit[:id])})", project_commit_path(event.project, id: commit[:id])
      %i
        在
        = commit[:timestamp].to_time.to_s(:short)
    %blockquote= markdown(escape_once(commit[:message]))
  - if event.commits_count > 15
    %p
      %i
        \... 和
        = pluralize(event.commits_count - 15, "次更多提交", "次更多提交")
