%div#modal-new-wiki.modal.hide
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3.page-title 新维基页面
      .modal-body
        = label_tag :new_wiki_path do
          %span 页面别名
        = text_field_tag :new_wiki_path, nil, placeholder: 'how-to-setup', class: 'form-control', required: true, :'data-wikis-path' => project_wikis_path(@project)
        %p.hint
          请不要使用空格。
      .modal-footer
        = link_to '构建', '#', class: 'build-new-wiki btn btn-create'
