= render 'nav'
%h3.page-title
  所有文件
%ul.bordered-list
  - @wiki_pages.each do |wiki_page|
    %li
      %h4
        = link_to wiki_page.title, project_wiki_path(@project, wiki_page)
        %small (#{wiki_page.format})
        .pull-right
          %small 最后编辑时间：#{time_ago_with_tooltip(wiki_page.commit.authored_date)}
= paginate @wiki_pages, theme: 'gitlab'
