.row
  .col-md-3
    .admin-filter
      = form_tag admin_projects_path, method: :get, class: '' do
        .form-group
          = label_tag :name, '名称：'
          = text_field_tag :name, params[:name], class: "form-control"

        .form-group
          = label_tag :namespace_id, "命名空间"
          = namespace_select_tag :namespace_id, selected: params[:namespace_id], class: 'input-large'

        .form-group
          %strong 活动
          .checkbox
            = label_tag :with_push, '非空'
            = check_box_tag :with_push, 1, params[:with_push]
            &nbsp;
            %span.light 项目有推送事件
          .checkbox
            = label_tag :abandoned, '已废弃'
            = check_box_tag :abandoned, 1, params[:abandoned]
            &nbsp;
            %span.light 6 个月不再活动

        %fieldset
          %strong 可见等级:
          .visibility-levels
            - Project.visibility_levels.each do |label, level|
              .checkbox
                %label
                  = check_box_tag 'visibility_levels[]', level, params[:visibility_levels].present? && params[:visibility_levels].include?(level.to_s)
                  %span.descr
                    = visibility_level_icon(level)
                    = label
        %hr
        = hidden_field_tag :sort, params[:sort]
        = button_tag "搜索", class: "btn submit btn-primary"
        = link_to "重置", admin_projects_path, class: "btn btn-cancel"

  .col-md-9
    .panel.panel-default
      .panel-heading
        项目 (#{@projects.total_count})
        .panel-head-actions
          .dropdown.inline
            %a.dropdown-toggle.btn{href: '#', "data-toggle" => "dropdown"}
              %span.light 排序:
              - if params[:sort] == 'newest'
                最近创建的
              - elsif params[:sort] == 'oldest'
                最旧创建的
              - elsif params[:sort] == 'recently_updated'
                最近更新的
              - elsif params[:sort] == 'last_updated'
                最旧更新的
              - elsif params[:sort] == 'largest_repository'
                最大的版本仓库
              - else
                名称
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to admin_projects_path(sort: nil) do
                  名称
                = link_to admin_projects_path(sort: 'newest') do
                  = sort_title_recently_created
                = link_to admin_projects_path(sort: 'oldest') do
                  = sort_title_oldest_created
                = link_to admin_projects_path(sort: 'recently_updated') do
                  = sort_title_recently_updated
                = link_to admin_projects_path(sort: 'last_updated') do
                  = sort_title_oldest_updated
                = link_to admin_projects_path(sort: 'largest_repository') do
                  最大的版本仓库
          = link_to '新项目', new_project_path, class: "btn btn-new"
      %ul.well-list
        - @projects.each do |project|
          %li
            .list-item-name
              %span{ class: visibility_level_color(project.visibility_level) }
                = visibility_level_icon(project.visibility_level)
              = link_to project.name_with_namespace, [:admin, project]
            .pull-right
              %span.label.label-gray
                = repository_size(project)
              = link_to '编辑', edit_project_path(project), id: "edit_#{dom_id(project)}", class: "btn btn-small"
              = link_to '销毁', [project], data: { confirm: remove_project_message(project) }, method: :delete, class: "btn btn-small btn-remove"
        - if @projects.blank?
          .nothing-here-block 0 projects matches
    = paginate @projects, theme: "gitlab"
