%h3.page-title
  里程碑
  %span.pull-right #{@group_milestones.count} milestones

%p.light
  只有来自
  %strong #{@group.name}
  群组的里程碑显示在这里。

%hr

= render 'shared/milestones_filter'
.milestones
  .panel.panel-default
    %ul.well-list
      - if @group_milestones.blank?
        %li
          .nothing-here-block 没有里程碑显示
      - else
        - @group_milestones.each do |milestone|
          %li{class: "milestone milestone-#{milestone.closed? ? 'closed' : 'open'}", id: dom_id(milestone.milestones.first) }
            .pull-right
              - if can?(current_user, :manage_group, @group)
                - if milestone.closed?
                  = link_to '重新打开里程碑', group_milestone_path(@group, milestone.safe_title, title: milestone.title, milestone: {state_event: :activate }), method: :put, class: "btn btn-small btn-grouped btn-reopen"
                - else
                  = link_to '关闭里程碑', group_milestone_path(@group, milestone.safe_title, title: milestone.title, milestone: {state_event: :close }), method: :put, class: "btn btn-small btn-close"
            %h4
              = link_to_gfm truncate(milestone.title, length: 100), group_milestone_path(@group, milestone.safe_title, title: milestone.title)
            %div
              %div
                = link_to group_milestone_path(@group, milestone.safe_title, title: milestone.title) do
                  = pluralize milestone.issue_count, '问题'
                &nbsp;
                = link_to group_milestone_path(@group, milestone.safe_title, title: milestone.title) do
                  = pluralize milestone.merge_requests_count, '合并请求'
                &nbsp;
                %span.light #{milestone.percent_complete}% 完成
              .progress.progress-info
                .progress-bar{style: "width: #{milestone.percent_complete}%;"}
              %div
                %br
                - milestone.projects.each do |project|
                  %span.label.label-default
                    = project.name
  = paginate @group_milestones, theme: "gitlab"
