- empty_repo = @project.empty_repo?
.project-home-panel{:class => ("empty-project" if empty_repo)}
  .project-home-row
    .project-home-desc
      - if @project.description.present?
        = escaped_autolink(@project.description)
      - if can?(current_user, :admin_project, @project)
        &ndash;
        = link_to '编辑', edit_project_path
      - elsif !@project.empty_repo? && @repository.readme
        - readme = @repository.readme
        &ndash;
        = link_to project_blob_path(@project, tree_join(@repository.root_ref, readme.name)) do
          = readme.name
    .star-fork-buttons
      - unless @project.empty_repo?
        .fork-buttons
          - if current_user && can?(current_user, :fork_project, @project) && @project.namespace != current_user.namespace
            - if current_user.already_forked?(@project) && current_user.manageable_namespaces.size < 2
              = link_to project_path(current_user.fork_of(@project)), title: '转到我的派生' do
                = link_to_toggle_fork
            - else
              = link_to new_project_fork_path(@project), title: "派生项目" do
                = link_to_toggle_fork

      .star-buttons
        %span.star.js-toggler-container{class: @show_star ? 'on' : ''}
          - if current_user
            = link_to_toggle_star('标记这个项目。', false, true)
            = link_to_toggle_star('取消标记这个项目。', true, true)
          - else
            = link_to_toggle_star('必须登入后才能标记项目。', false, false)

  .project-home-row.hidden-xs
    - if current_user && !empty_repo
      .project-home-dropdown
        = render "dropdown"
    - unless @project.empty_repo?
      - if can? current_user, :download_code, @project
        .pull-right.prepend-left-10
          = render 'projects/repositories/download_archive', split_button: true
    = render "shared/clone_panel"
