- if issuable.errors.any?
  .row
    .col-sm-10.col-sm-offset-2
      .alert.alert-danger
        - issuable.errors.full_messages.each do |msg|
          %span= msg
          %br
.form-group
  = f.label :title, class: 'control-label' do
    %strong= '标题 *'
  .col-sm-10
    = f.text_field :title, maxlength: 255, autofocus: true,
        class: 'form-control pad js-gfm-input', required: true
.form-group.issuable-description
  = f.label :description, '描述', class: 'control-label'
  .col-sm-10

    = render layout: 'projects/md_preview' do
      = render 'projects/zen', f: f, attr: :description,
                               classes: 'description form-control'
      .col-sm-12.hint
        .pull-left
          被解析为
          #{link_to 'GitLab 特色 Markdown', help_page_path('markdown', 'markdown'), target: '_blank'} 格式。
        .pull-right
          可以拖放或#{link_to '选择文件', '#', class: 'markdown-selector' }来附加图片(JPG, PNG, GIF)。

      .clearfix
      .error-alert
%hr
.form-group
  .issue-assignee
    = f.label :assignee_id, class: 'control-label' do
      %i.fa.fa-user
      指派给
    .col-sm-10
      = project_users_select_tag("#{issuable.class.model_name.param_key}[assignee_id]",
          placeholder: '选择用户', class: 'custom-form-control',
          selected: issuable.assignee_id)
      &nbsp;
      = link_to '指派给自己', '#', class: 'btn assign-to-me-link'
.form-group
  .issue-milestone
    = f.label :milestone_id, class: 'control-label' do
      %i.fa.fa-clock-o
      里程碑
    .col-sm-10
      - if milestone_options(issuable).present?
        = f.select(:milestone_id, milestone_options(issuable),
          { include_blank: '选择里程碑' }, { class: 'select2' })
      - else
        %span.light 没有可用的未关闭里程碑。
      &nbsp;
      - if can? current_user, :admin_milestone, issuable.project
        = link_to '创建新的里程碑', new_project_milestone_path(issuable.project), target: :blank
.form-group
  = f.label :label_ids, class: 'control-label' do
    %i.fa.fa-tag
    标签
  .col-sm-10
    - if issuable.project.labels.any?
      = f.collection_select :label_ids, issuable.project.labels.all, :id, :name,
        { selected: issuable.label_ids }, multiple: true, class: 'select2'
    - else
      %span.light 没有标签。
    &nbsp;
    - if can? current_user, :admin_label, issuable.project
      = link_to '创建新的标签', new_project_label_path(issuable.project), target: :blank

.form-actions
  - if !issuable.project.empty_repo? && contribution_guide_url(issuable.project) && !issuable.persisted?
    %p
      请先阅读本版本仓库的
      %strong #{link_to '指导原则', contribution_guide_url(issuable.project)}
      。
  - if issuable.new_record?
    = f.submit "提交新的 #{issuable.class.model_name.human.downcase}", class: 'btn btn-create'
  - else
    = f.submit '保存修改', class: 'btn btn-save'
  - if issuable.new_record?
    - cancel_project = issuable.source_project
  - else
    - cancel_project = issuable.project
  = link_to '取消', [cancel_project, issuable], class: 'btn btn-cancel'
