%ul.nav.nav-tabs
  - if project_nav_tab? :issues
    = nav_link(controller: :issues) do
      = link_to project_issues_path(@project), class: "tab" do
        %i.fa.fa-exclamation-circle
        问题
  - if project_nav_tab? :merge_requests
    = nav_link(controller: :merge_requests) do
      = link_to project_merge_requests_path(@project), class: "tab" do
        %i.fa.fa-tasks
        合并请求
  = nav_link(controller: :milestones) do
    = link_to project_milestones_path(@project), class: "tab" do
      %i.fa.fa-clock-o
      里程碑
  = nav_link(controller: :labels) do
    = link_to project_labels_path(@project), class: "tab" do
      %i.fa.fa-tags
      标签


  - if current_controller?(:milestones)
    %li.pull-right
      %button.btn.btn-default.sidebar-expand-button
        %i.icon.fa.fa-list

  - if current_controller?(:issues)
    - if current_user
      %li.hidden-xs
        = link_to project_issues_path(@project, :atom, { private_token: current_user.private_token }) do
          %i.fa.fa-rss

    %li.pull-right
      .pull-right
        %button.btn.btn-default.sidebar-expand-button
          %i.icon.fa.fa-list

        .pull-left
          = form_tag project_issues_path(@project), method: :get, id: "issue_search_form", class: 'pull-left issue-search-form'  do
            .append-right-10.hidden-xs.hidden-sm
              = search_field_tag :issue_search, params[:issue_search], { placeholder: '过滤标题或描述', class: 'form-control issue_search search-text-input input-mn-300' }
              = hidden_field_tag :state, params['state']
              = hidden_field_tag :scope, params['scope']
              = hidden_field_tag :assignee_id, params['assignee_id']
              = hidden_field_tag :milestone_id, params['milestone_id']
              = hidden_field_tag :label_id, params['label_id']

        - if can? current_user, :write_issue, @project
          = link_to new_project_issue_path(@project, issue: { assignee_id: params[:assignee_id], milestone_id: params[:milestone_id]}), class: "btn btn-new pull-left", title: "新问题", id: "new_issue_link" do
            %i.fa.fa-plus
            问题

  - if current_controller?(:merge_requests)
    %li.pull-right
      .pull-right
        %button.btn.btn-default.sidebar-expand-button
          %i.icon.fa.fa-list

        - if can? current_user, :write_merge_request, @project
          = link_to new_project_merge_request_path(@project), class: "btn btn-new pull-left", title: "新合并请求" do
            %i.fa.fa-plus
            新合并请求
