.project-edit-container
  .project-edit-errors
  .project-edit-content
    %div
      %h3.page-title
        项目设置：
      %p.light 部分设置，比如 "转移项目" 等危险操作在最下方
      %hr
      .panel-body
        = form_for @project, remote: true, html: { class: "edit_project form-horizontal" } do |f|
          %fieldset
            .form-group.project_name_holder
              = f.label :name, class: 'control-label' do
                项目名称
              .col-sm-10
                = f.text_field :name, placeholder: "示例项目", class: "form-control", id: "project_name_edit"


            .form-group
              = f.label :description, class: 'control-label' do
                项目描述
                %span.light (可选)
              .col-sm-10
                = f.text_area :description, placeholder: "Awesome project", class: "form-control", rows: 3, maxlength: 250

            - if @project.repository.exists? && @project.repository.branch_names.any?
              .form-group
                = f.label :default_branch, "默认分支", class: 'control-label'
                .col-sm-10= f.select(:default_branch, @repository.branch_names, {}, {class: 'select2 select-wide'})


          = render "visibility_level", f: f, visibility_level: @project.visibility_level, can_change_visibility_level: can?(current_user, :change_visibility_level, @project)

          %fieldset.features
            %legend
              标签：
            .form-group
              = f.label :tag_list, "标签", class: 'control-label'
              .col-sm-10
                = f.text_field :tag_list, maxlength: 2000, class: "form-control"
                %p.hint 使用逗号分割。

          %fieldset.features
            %legend
              特性：
            .form-group
              = f.label :issues_enabled, "问题", class: 'control-label'
              .col-sm-10
                .checkbox
                  = f.check_box :issues_enabled
                  %span.descr 轻量级问题跟踪系统

            - if Project.issues_tracker.values.count > 1
              .form-group
                = f.label :issues_tracker, "问题追踪", class: 'control-label'
                .col-sm-10= f.select(:issues_tracker, project_issues_trackers(@project.issues_tracker), {}, { disabled: !@project.issues_enabled })

              .form-group
                = f.label :issues_tracker_id, "项目名称或者问题跟踪 id", class: 'control-label'
                .col-sm-10= f.text_field :issues_tracker_id, disabled: !@project.can_have_issues_tracker_id?, class: 'form-control'

            .form-group
              = f.label :merge_requests_enabled, "合并请求", class: 'control-label'
              .col-sm-10
                .checkbox
                  = f.check_box :merge_requests_enabled
                  %span.descr 合并上游修改

            .form-group
              = f.label :wiki_enabled, "维基", class: 'control-label'
              .col-sm-10
                .checkbox
                  = f.check_box :wiki_enabled
                  %span.descr 项目文档页面

            .form-group
              = f.label :snippets_enabled, "代码片段", class: 'control-label'
              .col-sm-10
                .checkbox
                  = f.check_box :snippets_enabled
                  %span.descr 共享 git 版本仓库外的代码


          .form-actions
            = f.submit '保存修改', class: "btn btn-save"



    .danger-settings
      - if can? current_user, :archive_project, @project
        - if @project.archived?
          .panel.panel-success
            .panel-heading
              解档项目
            .panel-body
              %p
                解档项目将恢复项目版本仓库可修改。
                %br
                项目可以被提交。
                %br
                %strong 解档后该项目可以被搜索到并显示在仪表盘中。
              = link_to '解档', unarchive_project_path(@project),
                  data: { confirm: "确定要解档本项目么？\n解档项目后可以重新提交版本仓库修改。" },
                  method: :post, class: "btn btn-success"
        - else
          .panel.panel-warning
            .panel-heading
              归档项目
            .panel-body
              %p
                归档项目将标记其版本仓库为只读。
                %br
                同时将在仪表盘隐藏并且不能搜索到。
                %br
                %strong 已归档的项目不能被提交！
              = link_to '归档', archive_project_path(@project),
                  data: { confirm: "确定要归档本项目么？\n已归档的项目不能被提交。" },
                  method: :post, class: "btn btn-warning"
      - else
        .nothing-here-block 只有项目所有者才能归档项目

      .panel.panel-default.panel.panel-warning
        .panel-heading 重命名仓库
        .errors-holder
        .panel-body
          = form_for(@project, html: { class: 'form-horizontal' }) do |f|
            .form-group.project_name_holder
              = f.label :name, class: 'control-label' do
                项目名称
              .col-sm-9
                .form-group
                  = f.text_field :name, placeholder: "示例项目", class: "form-control"
            .form-group
              = f.label :path, class: 'control-label' do
                %span 路径
              .col-sm-9
                .form-group
                  .input-group
                    .input-group-addon
                      #{URI.join(root_url, @project.namespace.path)}/
                    = f.text_field :path, class: 'form-control'
                    %span.input-group-addon .git
                %ul
                  %li 请小心。重命名项目仓库可能有意想不到的副作用。
                  %li 需要更新本地版本仓库指向新位置。
            .form-actions
              = f.submit '重命名', class: "btn btn-warning"

      - if can?(current_user, :change_namespace, @project)
        .panel.panel-default.panel.panel-danger
          .panel-heading 转移项目
          .errors-holder
          .panel-body
            = form_for(@project, url: transfer_project_path(@project), method: :put, remote: true, html: { class: 'transfer-project form-horizontal' }) do |f|
              .form-group
                = f.label :namespace_id, class: 'control-label' do
                  %span 命名空间
                .col-sm-10
                  .form-group
                    = f.select :namespace_id, namespaces_options(@project.namespace_id), { prompt: '选择项目命名空间' }, { class: 'select2' }
                  %ul
                    %li 请注意：更改项目的命名空间可能有意想不到的副作用。
                    %li 只能将项目转移到能管理到的命名空间。
                    %li 需要更新本地版本仓库指向新位置。
              .form-actions
                = f.submit '转移', class: "btn btn-remove js-confirm-danger", data: { "confirm-danger-message" => transfer_project_message(@project) }
      - else
        .nothing-here-block 只有项目所有者才能转移项目

      - if can?(current_user, :remove_project, @project)
        .panel.panel-default.panel.panel-danger
          .panel-heading 删除项目
          .panel-body
            = form_tag(project_path(@project), method: :delete, html: { class: 'form-horizontal'}) do
              %p
                删除项目将删除其版本仓库及所有相关资源，包括问题，合并请求等。
                %br
                %strong 删除项目无法恢复！

              = link_to '删除项目', '#', class: "btn btn-remove js-confirm-danger", data: { "confirm-danger-message" => remove_project_message(@project) }
      - else
        .nothing-here-block 只有项目所有者才能删除项目

.save-project-loader.hide
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      正在保存项目。
    %p 请稍等片刻，页面会在准备好后自动刷新。


= render 'shared/confirm_modal', phrase: @project.path
