.project-edit-container
  .project-edit-errors
    = render 'projects/errors'
  .project-edit-content

    = form_for @project, html: { class: 'new_project form-horizontal' } do |f|
      .form-group.project-name-holder
        = f.label :path, class: 'control-label' do
          %strong 项目路径
        .col-sm-10
          .input-group
            = f.text_field :path, placeholder: "my-awesome-project", class: "form-control", tabindex: 1, autofocus: true
            .input-group-addon
              \.git

      - if current_user.can_select_namespace?
        .form-group
          = f.label :namespace_id, class: 'control-label' do
            %span 命名空间
          .col-sm-10
            = f.select :namespace_id, namespaces_options(params[:namespace_id] || :current_user), {}, {class: 'select2', tabindex: 2}

      %hr
      .js-toggle-container
        .form-group
          .col-sm-2
          .col-sm-10
            = link_to "#", class: 'js-toggle-button' do
              %i.fa.fa-upload
              %span 从链接导入已存在的版本库
        .js-toggle-content.hide
          .form-group.import-url-data
            = f.label :import_url, class: 'control-label' do
              %span 导入已存在的 git 版本库
            .col-sm-10
              = f.text_field :import_url, class: 'form-control', placeholder: 'https://github.com/randx/six.git'
              .bs-callout.bs-callout-info
                链接必须能公开访问或指定用户名和密码类似：https://username:password@gitlab.com/company/project.git.
                %br
                导入超过 4 分钟将会超时。对于大仓库，请使用 clone/push 组合操作。
                对于 SVN 仓库，请查看#{link_to "从 SVN 合并的文档。", "http://doc.gitlab.com/ce/workflow/migrating_from_svn.html"}

      .project-import.form-group
        .col-sm-2
        .col-sm-10
          - if github_import_enabled?
            = link_to status_github_import_path do
              %i.fa.fa-github
              从 GitHub 导入项目
          - else
            = link_to '#', class: 'how_to_import_link light' do
              %i.fa.fa-github
              从 GitHub 导入项目
            = render 'github_import_modal'

      %hr.prepend-botton-10

      .form-group
        = f.label :description, class: 'control-label' do
          描述
          %span.light (可选)
        .col-sm-10
          = f.text_area :description, placeholder: "Awesome project", class: "form-control", rows: 3, maxlength: 250, tabindex: 3
      = render "visibility_level", f: f, visibility_level: gitlab_config.default_projects_features.visibility_level, can_change_visibility_level: true

      .form-actions
        = f.submit '创建项目', class: "btn btn-create project-submit", tabindex: 4

        - if current_user.can_create_group?
          .pull-right
            .light
              需要一个有多个关联项目的群组？
              = link_to new_group_path, class: "btn btn-tiny" do
                创建群组

.save-project-loader.hide
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      正在创建项目 &amp; 版本库。
    %p 请稍候，页面会处理完成后自动刷新。
