%h2
  %i.fa.fa-warning
  没有仓库

%p.slead
  该项目的仓库不存在。
  %br
  这意味着如果不创建一个新仓库或者导入已存在的仓库，就不能推送代码。
%hr

.no-repo-actions
  = link_to project_repository_path(@project), method: :post, class: 'btn btn-primary' do
    创建空的纯仓库

  %strong.prepend-left-10.append-right-10 or

  = link_to new_project_import_path(@project), class: 'btn' do
    导入仓库

- if can? current_user, :remove_project, @project
  .prepend-top-20
    = link_to '删除项目', @project, data: { confirm: remove_project_message(@project)}, method: :delete, class: "btn btn-remove pull-right"
