- if current_user && can?(current_user, :download_code, @project)
  = render 'shared/no_ssh'

= render "home_panel"

- readme = @repository.readme
%ul.nav.nav-tabs
  %li.active
    = link_to '#tab-activity', 'data-toggle' => 'tab' do
      活动
  - if readme
    %li
      = link_to '#tab-readme', 'data-toggle' => 'tab' do
        Readme
  .project-home-links
    - unless @project.empty_repo?
      = link_to pluralize(number_with_delimiter(@repository.commit_count), '次提交', '次提交'), project_commits_path(@project, @ref || @repository.root_ref)
      = link_to pluralize(number_with_delimiter(@repository.branch_names.count), '个分支', '个分支'), project_branches_path(@project)
      = link_to pluralize(number_with_delimiter(@repository.tag_names.count), '个标签', '个标签'), project_tags_path(@project)
      %span.light.prepend-left-20= repository_size

.tab-content
  .tab-pane.active#tab-activity
    .row
      %section.col-md-9
        = render "events/event_last_push", event: @last_push
        = render 'shared/event_filter'
        .content_list
        = spinner
      %aside.col-md-3.project-side.hidden-sm.hidden-xs
        .clearfix
          - if @project.archived?
            .alert.alert-warning
              %h4
                %i.fa.fa-exclamation-triangle
                已归档项目！
              %p 版本库只读

          - if @project.forked_from_project
            .alert.alert-success
              %i.fa.fa-code-fork.project-fork-icon
              派生自：
              %br
              = link_to @project.forked_from_project.name_with_namespace, project_path(@project.forked_from_project)

          - unless @project.empty_repo?
            = link_to project_compare_index_path(@project, from: @repository.root_ref, to: @ref || @repository.root_ref), class: 'btn btn-block' do
              比较代码

            - if @repository.version
              - version = @repository.version
              = link_to project_blob_path(@project, tree_join(@repository.root_ref, version.name)), class: 'btn btn-block' do
                版本：
                %span.count
                  = @repository.blob_by_oid(version.id).data

        .prepend-top-10
          %p
            %span.light 创建时间
            #{@project.created_at.stamp('2013-12-31')}
          %p
            %span.light 所有者
            - if @project.group
              #{link_to @project.group.name, @project.group} 群组
            - else
              #{link_to @project.owner_name, @project.owner}

          - @project.ci_services.each do |ci_service|
            - if ci_service.active? && ci_service.respond_to?(:builds_path)
              - if ci_service.respond_to?(:status_img_path)
                = link_to ci_service.builds_path do
                  = image_tag ci_service.status_img_path, alt: "构建状态"
              - else
                %span.light CI provided by
                = link_to ci_service.title, ci_service.builds_path

  - if readme
    .tab-pane#tab-readme
      %article.readme-holder#README
        = link_to project_blob_path(@project, tree_join(@repository.root_ref, readme.name)) do
          %h4.readme-file-title
            %i.fa.fa-file
            = readme.name
        .wiki
          = render_readme(readme)

