- commit = @repository.commit(tag.target)
%li
  %h4
    = link_to project_commits_path(@project, tag.name), class: "" do
      %i.fa.fa-tag
      = tag.name
    - if tag.message.present?
      &nbsp;
      = strip_gpg_signature(tag.message)
    .pull-right
      - if can? current_user, :download_code, @project
        = render 'projects/repositories/download_archive', ref: tag.name, btn_class: 'btn-grouped btn-group-small'
      - if can?(current_user, :admin_project, @project)
        = link_to project_tag_path(@project, tag.name), class: 'btn btn-small btn-remove remove-row grouped', method: :delete, data: { confirm: '删除标签无法恢复，确定要继续么？'}, remote: true do
          %i.fa.fa-trash-o

  - if commit
    %ul.list-unstyled
      = render 'projects/commits/inline_commit', commit: commit, project: @project
  - else
    %p
      无法找到该标签的 HEAD 提交
