%h3.page-title
  通知设置
%p.light
  GitLab 使用个人资料中指定的电子邮箱接收通知
%hr
= form_tag profile_notifications_path, method: :put, remote: true, class: 'update-notifications form-horizontal global-notifications-form' do
  = hidden_field_tag :notification_type, 'global'

  = label_tag :notification_level, '通知等级', class: 'control-label'
  .col-sm-10
    .radio
      = label_tag nil, class: '' do
        = radio_button_tag :notification_level, Notification::N_DISABLED, @notification.disabled?, class: 'trigger-submit'
        .level-title
          关闭
        %p 将不会通过电子邮件收到任何通知

    .radio
      = label_tag nil, class: '' do
        = radio_button_tag :notification_level, Notification::N_MENTION, @notification.mention?, class: 'trigger-submit'
        .level-title
          提起
        %p 只收到评论中 @自己 的通知

    .radio
      = label_tag nil, class: '' do
        = radio_button_tag :notification_level, Notification::N_PARTICIPATING, @notification.participating?, class: 'trigger-submit'
        .level-title
          参与
        %p 只收到有关的通知 (比如：来自自己的提交或指派给自己的问题)

    .radio
      = label_tag nil, class: '' do
        = radio_button_tag :notification_level, Notification::N_WATCH, @notification.watch?, class: 'trigger-submit'
        .level-title
          关注
        %p 将收到参与项目的所有通知

.clearfix
  %hr
.row.all-notifications
  .col-md-6
    %p
      也可以单独指定每个群组或项目的通知等级。
      %br
      所有项目和群组默认使用上面的全局设置。
    %h4 群组：
    %ul.bordered-list
      - @group_members.each do |users_group|
        - notification = Notification.new(users_group)
        = render 'settings', type: 'group', membership: users_group, notification: notification

  .col-md-6
    %p
      给所属群组的项目指定通知等级。
      %br
      需要自己属于项目成员，而不仅仅是群组成员。
    %h4 项目：
    %ul.bordered-list
      - @project_members.each do |project_member|
        - notification = Notification.new(project_member)
        = render 'settings', type: 'project', membership: project_member, notification: notification
