%h3.page-title
  代码片段
  - if can? current_user, :write_project_snippet, @project
    = link_to new_project_snippet_path(@project), class: "btn btn-new pull-right", title: "新代码片段" do
      增加新的代码片段

%p.light
  在 git 版本仓库外共享代码

%hr
%ul.bordered-list
  = render partial: "projects/snippets/snippet", collection: @snippets
  - if @snippets.empty?
    %li
      .nothing-here-block 没有内容。
