%h3.page-title
  = @snippet.title

  .pull-right
    = link_to new_project_snippet_path(@project), class: "btn btn-new", title: "新代码片段" do
      增加新的代码片段

%hr

.append-bottom-20
  .pull-right
    = "##{@snippet.id}"
    %span.light
      属于
      = link_to user_path(@snippet.author) do
        = image_tag avatar_icon(@snippet.author_email), class: "avatar avatar-inline s16"
        = @snippet.author_name

  .back-link
    = link_to project_snippets_path(@project) do
      &larr; 项目代码片段

.file-holder
  .file-title
    %i.fa.fa-file
    %span.file_name
      = @snippet.file_name
    .options
      .btn-group
        - if can?(current_user, :modify_project_snippet, @snippet)
          = link_to "编辑", edit_project_snippet_path(@project, @snippet), class: "btn btn-small", title: '编辑代码片段'
        = link_to "原文件", raw_project_snippet_path(@project, @snippet), class: "btn btn-small", target: "_blank"
      - if can?(current_user, :admin_project_snippet, @snippet)
        = link_to "删除", project_snippet_path(@project, @snippet), method: :delete, data: { confirm: "确定要继续么？" }, class: "btn btn-small btn-remove", title: '删除代码片段'
  = render 'shared/snippets/blob'

%div#notes= render "projects/notes/notes_with_form"
