= form_tag(user_omniauth_callback_path(provider), id: 'new_ldap_user' ) do
  = text_field_tag :username, nil, {class: "form-control top", placeholder: "LDAP 登入", autofocus: "autofocus"}
  = password_field_tag :password, nil, {class: "form-control bottom", placeholder: "密码"}
  = button_tag "LDAP 登入", class: "btn-save btn"
