= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.text_field :login, class: "form-control top", placeholder: "用户名或电子邮箱", autofocus: "autofocus"
  = f.password_field :password, class: "form-control bottom", placeholder: "密码"
  - if devise_mapping.rememberable?
    .remember-me
      %label.checkbox.remember_me{for: "user_remember_me"}
        = f.check_box :remember_me
        %span 记住我
        .pull-right
          = link_to "忘记密码？", new_password_path(resource_name)
  %div
    = f.submit "登入", class: "btn btn-save"
