= form_for [@project, @merge_request], remote: true, html: {class: 'edit-merge_request inline-update'} do |f|
  %div.prepend-top-20
    %p
      指派：

    - if can?(current_user, :modify_merge_request, @merge_request)
      = project_users_select_tag('merge_request[assignee_id]', placeholder: '选择指派', class: 'custom-form-control js-select2 js-assignee', selected: @merge_request.assignee_id)
    - elsif merge_request.assignee
      = link_to_member(@project, @merge_request.assignee)
    - else
      无

  %div.prepend-top-20
    %p
      里程碑：
    - if can?(current_user, :modify_merge_request, @merge_request)
      = f.select(:milestone_id, milestone_options(@merge_request), { include_blank: "选择里程碑" }, {class: 'select2 select2-compact js-select2 js-milestone'})
      = hidden_field_tag :merge_request_context
      = f.submit class: 'btn'
    - elsif merge_request.milestone
      = link_to merge_request.milestone.title, project_milestone_path
    - else
      无
