- if @merge_request_diff.collected?
  = render "projects/diffs/diffs", diffs: @merge_request.diffs, project: @merge_request.source_project
- elsif @merge_request_diff.empty?
  .nothing-here-block 从 #{@merge_request.source_branch} 到 #{@merge_request.target_branch} 无需合并
- else
  .bs-callout.bs-callout-warning
    %h4
      此比较的变更视图非常巨大。
    %p
      可以
      = link_to "下载差异", project_merge_request_path(@merge_request.target_project, @merge_request, format: :diff), class: "vlink"
      到本地查看。
