%div#modal_merge_info.modal.hide
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3 如何合并
      .modal-body
        - if @merge_request.for_fork?
          - source_remote = @merge_request.source_project.namespace.nil? ? "source" :@merge_request.source_project.namespace.path
          - target_remote = @merge_request.target_project.namespace.nil? ? "target" :@merge_request.target_project.namespace.path
          %p
            %strong 第 1 步.
            检出要进行合并的来源分支然后拉取到代码
          %pre.dark
            :preserve
              git fetch #{@merge_request.source_project.http_url_to_repo} #{@merge_request.source_branch}
              git checkout -b #{@merge_request.source_project_path}-#{@merge_request.source_branch} FETCH_HEAD
          %p
            %strong 第 2 步.
            合并分支后推送变更到 GitLab
          %pre.dark
            :preserve
              git checkout #{@merge_request.target_branch}
              git merge --no-ff #{@merge_request.source_project_path}-#{@merge_request.source_branch}
              git push origin #{@merge_request.target_branch}
        - else
          %p
            %strong 第 1 步.
            更新仓库然后检出要进行合并的来源分支
          %pre.dark
            :preserve
              git fetch origin
              git checkout -b #{@merge_request.source_branch} origin/#{@merge_request.source_branch}
          %p
            %strong 第 2 步.
            合并分支后推送变更到 GitLab
          %pre.dark
            :preserve
              git checkout #{@merge_request.target_branch}
              git merge --no-ff #{@merge_request.source_branch}
              git push origin #{@merge_request.target_branch}


:javascript
  $(function(){
    var modal = $('#modal_merge_info').modal({modal: true, show:false});
    $('.how_to_merge_link').bind("click", function(){
      modal.show();
    });
    $('.modal-header .close').bind("click", function(){
      modal.hide();
    })
  })
