- if @source_branch.blank?
  来源分支已被删除

- elsif can_remove_branch?(@merge_request.source_project, @merge_request.source_branch) && @merge_request.merged?
  .remove_source_branch_widget
    %p 变更已合并到 #{@merge_request.target_branch}。现在可以删除来源分支
    = link_to project_branch_path(@merge_request.source_project, @source_branch), remote: true, method: :delete, class: "btn btn-primary btn-small remove_source_branch" do
      %i.fa.fa-times
      删除来源分支

  .remove_source_branch_widget.failed.hide
    删除来源分支 '#{@merge_request.source_branch}' 失败

  .remove_source_branch_in_progress.hide
    %i.fa.fa-refresh.fa-spin
    &nbsp;
    正在删除来源分支 '#{@merge_request.source_branch}'。请稍候。页面会自动重新载入。 &nbsp;
