%h3.page-title 审查视图

#tree-holder.tree-holder
  .file-holder
    .file-title
      %i.fa.fa-file
      %span.file_name
        = @path
        %small= number_to_human_size @blob.size
      %span.options= render "projects/blob/actions"
    .file-content.blame.highlight
      %table
        - @blame.each do |commit, lines, since|
          - commit = Commit.new(commit)
          %tr
            %td.blame-commit
              %span.commit
                = link_to commit.short_id, project_commit_path(@project, commit), class: "commit_short_id"
                &nbsp;
                = commit_author_link(commit, avatar: true, size: 16)
                &nbsp;
                = link_to_gfm truncate(commit.title, length: 20), project_commit_path(@project, commit.id), class: "row_title"
            %td.lines.blame-numbers
              %pre
                - (since...(since + lines.count)).each do |i|
                  = i
                  \
            %td.lines
              %pre
                %code{ class: highlightjs_class(@blob.name) }
                  :erb
                    <% lines.each do |line| %>
                    <%= line %>
                    <% end %>
