%h3.page-title= @milestone.new_record? ? "新里程碑" : "编辑里程碑 ##{@milestone.iid}"
.back-link
  = link_to project_milestones_path(@project) do
    &larr; 返回里程碑

%hr

= form_for [@project, @milestone], html: {class: 'form-horizontal milestone-form gfm-form'}  do |f|
  -if @milestone.errors.any?
    .alert.alert-danger
      %ul
        - @milestone.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-6
      .form-group
        = f.label :title, "标题", class: "control-label"
        .col-sm-10
          = f.text_field :title, maxlength: 255, class: "form-control"
          %p.hint 必须的
      .form-group.milestone-description
        = f.label :description, "描述", class: "control-label"
        .col-sm-10
          = render layout: 'projects/md_preview' do
            = render 'projects/zen', f: f, attr: :description, classes: 'description form-control'
            .hint
              .pull-left 里程碑被解析为 #{link_to "GitLab 特色 Markdown", help_page_path("markdown", "markdown"), target: '_blank'} 格式。
              .pull-left 可以拖放或#{link_to "选择文件", '#', class: 'markdown-selector' }来附加图片(JPG, PNG, GIF)。
          .clearfix
          .error-alert
    .col-md-6
      .form-group
        = f.label :due_date, "到期日", class: "control-label"
        .col-sm-10= f.hidden_field :due_date
        .col-sm-10
          .datepicker

  .form-actions
    - if @milestone.new_record?
      = f.submit '创建里程碑', class: "btn-create btn"
      = link_to "取消", project_milestones_path(@project), class: "btn btn-cancel"
    -else
      = f.submit '保存修改', class: "btn-save btn"
      = link_to "取消", project_milestone_path(@project, @milestone), class: "btn btn-cancel"


:javascript
  disableButtonIfEmptyField("#milestone_title", ".btn-save");
  $( ".datepicker" ).datepicker({
    dateFormat: "yy-mm-dd",
    onSelect: function(dateText, inst) { $("#milestone_due_date").val(dateText) }
  }).datepicker("setDate", $.datepicker.parseDate('yy-mm-dd', $('#milestone_due_date').val()));

  window.project_image_path_upload = "#{upload_image_project_path @project}";
