%li{class: "milestone milestone-#{milestone.closed? ? 'closed' : 'open'}", id: dom_id(milestone) }
  .pull-right
    - if can?(current_user, :admin_milestone, milestone.project) and milestone.active?
      = link_to edit_project_milestone_path(milestone.project, milestone), class: "btn btn-small edit-milestone-link btn-grouped" do
        %i.fa.fa-pencil-square-o
        编辑
      = link_to '关闭里程碑', project_milestone_path(@project, milestone, milestone: {state_event: :close }), method: :put, remote: true, class: "btn btn-small btn-close"
  %h4
    = link_to_gfm truncate(milestone.title, length: 100), project_milestone_path(milestone.project, milestone)
    - if milestone.expired? and not milestone.closed?
      %span.cred (过期)
    %small
      = milestone.expires_at
  - if milestone.is_empty?
    %span.muted 空
  - else
    %div
      %div
        = link_to project_issues_path(milestone.project, milestone_id: milestone.id) do
          = pluralize milestone.issues.count, '个问题', '个问题'
        &nbsp;
        = link_to project_merge_requests_path(milestone.project, milestone_id: milestone.id) do
          = pluralize milestone.merge_requests.count, '个合并请求', '个合并请求'
        &nbsp;
        %span.light #{milestone.percent_complete}% 完成
      .progress.progress-info
        .progress-bar{style: "width: #{milestone.percent_complete}%;"}
