= render "projects/issues_nav"
.milestones_content
  %h3.page-title
    里程碑
    - if can? current_user, :admin_milestone, @project
      = link_to new_project_milestone_path(@project), class: "pull-right btn btn-new", title: "新里程碑" do
        %i.fa.fa-plus
        新里程碑

= render 'shared/milestones_filter'

.milestones
  .panel.panel-default
    %ul.well-list
      = render @milestones

      - if @milestones.blank?
        %li
          .nothing-here-block 没有里程碑

  = paginate @milestones, theme: "gitlab"
