%h3.page-title
  新项目成员

= form_for @user_project_relation, as: :project_member, url: project_team_members_path(@project), html: { class: "form-horizontal users-project-form" } do |f|
  -if @user_project_relation.errors.any?
    .alert.alert-danger
      %ul
        - @user_project_relation.errors.full_messages.each do |msg|
          %li= msg

  %p 1. 选择要加入到项目的人员
  .form-group
    = f.label :user_ids, "人", class: 'control-label'
    .col-sm-10
      = users_select_tag(:user_ids, multiple: true)

  %p 2. 设置他们的访问权限
  .form-group
    = f.label :access_level, "项目权限", class: 'control-label'
    .col-sm-10= select_tag :access_level, options_for_select(Gitlab::Access.options, @user_project_relation.access_level), class: "project-access-select select2"

  .form-actions
    = f.submit '增加用户', class: "btn btn-create"
    = link_to "取消", project_team_index_path(@project), class: "btn btn-cancel"
