= form_for [@project, @label], html: { class: 'form-horizontal label-form' } do |f|
  -if @label.errors.any?
    .row
      .col-sm-10.col-sm-offset-2
        .bs-callout.bs-callout-danger
          - @label.errors.full_messages.each do |msg|
            %span= msg
            %br

  .form-group
    = f.label :title, "标题", class: 'control-label'
    .col-sm-10
      = f.text_field :title, class: "form-control", required: true
  .form-group
    = f.label :color, "背景色", class: 'control-label'
    .col-sm-10
      .input-group
        .input-group-addon.label-color-preview &nbsp;
        = f.text_field :color, placeholder: "#AA33EE", class: "form-control"
      .help-block
        6 个十六进制数字，# 号开头。
        %br
        或者在下面选择一个推荐的颜色

      .suggest-colors
        - suggested_colors.each do |color|
          = link_to '#', style: "background-color: #{color}", data: { color: color } do
            &nbsp;

  .form-actions
    = f.submit '保存', class: 'btn btn-save js-save-button'
    = link_to "取消", project_labels_path(@project), class: 'btn btn-cancel'

