%li{id: dom_id(label)}
  = render_colored_label(label)
  .pull-right
    %strong.append-right-20
      = link_to project_issues_path(@project, label_name: label.name) do
        = pluralize label.open_issues_count, '个未关闭问题'

    - if can? current_user, :admin_label, @project
      = link_to '编辑', edit_project_label_path(@project, label), class: 'btn'
      = link_to '删除', project_label_path(@project, label), class: 'btn btn-remove remove-row', method: :delete, remote: true, data: {confirm: "确定要删除这个标签么？"}
