= "合并请求 ##{@merge_request.iid} 被 #{@updated_by.name} 更新为 #{@mr_status}"

合并请求链接: #{project_merge_request_url(@merge_request.target_project, @merge_request)}

= merge_path_description(@merge_request, 'to')

作者: #{@merge_request.author_name}
指派给: #{@merge_request.assignee_name}
