你好 <%= @user.name %>!

管理员创建了你的账号。现在你已是 GitLab 应用的成员。

账号.................. <%= @user.email %>
<% if @user.created_by_id %>
  <%= link_to "点击这里设置你的密码", edit_password_url(@user, :reset_password_token => @token) %>
<% end %>
