合并请求 <%= @merge_request.iid %> 有了新评论

<%= url_for(project_merge_request_url(@merge_request.target_project, @merge_request, anchor: "note_#{@note.id}")) %>


<%= @note.author_name %>

<%= @note.note %>

