项目被转移到另一个地址

项目现在定位到
<%= project_url(@project) %>


要更新本地仓库的远程地址请运行 (ssh):
  git remote set-url origin <%= @project.ssh_url_to_repo %>
或 http(s):
  git remote set-url origin <%= @project.http_url_to_repo %>
