%p
  项目被转移到另一个地址
%p
  项目现在定位到
  = link_to project_url(@project) do
    = @project.name_with_namespace
%p
  要更新本地仓库的远程地址请运行 (ssh):
%p{ style: "background:#f5f5f5; padding:10px; border:1px solid #ddd" }
  git remote set-url origin #{@project.ssh_url_to_repo}
%p
  或 http(s):
%p{ style: "background:#f5f5f5; padding:10px; border:1px solid #ddd" }
  git remote set-url origin #{@project.http_url_to_repo}
%br
