#{@author.name} 推送到 #{link_to @project.name_with_namespace, project_url(@project)} 的 #{@branch} 分支

\
提交：
- @commits.each do |commit|
  #{link_to commit.short_id, project_commit_url(@project, commit)} 由 #{commit.author_name}
  #{commit.safe_message}
  \- - - - -
\
\
变更：
- @diffs.each do |diff|
  \
  \=====================================
  - if diff.old_path == diff.new_path
    = diff.new_path
  - elsif diff.new_path && diff.old_path
    #{diff.old_path} &rarr; #{diff.new_path}
  - else
    = diff.new_path || diff.old_path
  \=====================================
  != diff.diff
\
- if @compare.timeout
  巨大差异。因为性能原因隐藏问题变更
