%h3.page-title
  群组 (#{@groups.total_count})
  = link_to '新群组', new_admin_group_path, class: "btn btn-new pull-right"

%p.light
  群组用于管理有组织的关联项目。

%hr
= form_tag admin_groups_path, method: :get, class: 'form-inline' do
  .form-group
    = text_field_tag :name, params[:name], class: "form-control input-mn-300"
  = button_tag "搜索", class: "btn submit btn-primary"

%hr

%ul.bordered-list
  - @groups.each do |group|
    %li
      .clearfix
        .pull-right.prepend-top-10
          = link_to '编辑', edit_admin_group_path(group), id: "edit_#{dom_id(group)}", class: "btn btn-small"
          = link_to '销毁', [:admin, group], data: {confirm: "确定要删除 #{group.name}？"}, method: :delete, class: "btn btn-small btn-remove"

        %h4
          = link_to [:admin, group] do
            %i.fa.fa-folder
            = group.name

          &rarr;
          %span.monospace
            %strong #{group.path}/
      .clearfix
        %p
          = truncate group.description, length: 150
      .clearfix
        %p.light
          #{pluralize(group.members.size, '个用户', '个用户')}, #{pluralize(group.projects.count, '个项目', '个项目')}


= paginate @groups, theme: "gitlab"
