- submit_btn_css ||= 'btn btn-link btn-remove'
= form_tag oauth_authorized_application_path(application) do
  %input{:name => "_method", :type => "hidden", :value => "delete"}/
  = submit_tag '撤销', onclick: "return confirm('确定要继续么？')", class: 'btn btn-link btn-remove btn-small'