- content_for :note_actions do
  - if can?(current_user, :modify_issue, @issue)
    - if @issue.closed?
      = link_to '重新打开问题', project_issue_path(@project, @issue, issue: {state_event: :reopen }, status_only: true), method: :put, class: "btn btn-grouped btn-reopen js-note-target-reopen", title: '重新打开问题'
    - else
      = link_to '关闭问题', project_issue_path(@project, @issue, issue: {state_event: :close }, status_only: true), method: :put, class: "btn btn-grouped btn-close js-note-target-close", title: "关闭问题"
.row
  .col-md-9
    .participants
      %cite.cgray
        = pluralize(@issue.participants.count, '个参与者', '个参与者')
      - @issue.participants.each do |participant|
        = link_to_member(@project, participant, name: false, size: 24)

    .voting_notes#notes= render "projects/notes/notes_with_form"
  .col-md-3.hidden-sm.hidden-xs
    %div
    .clearfix
      %span.slead.has_tooltip{:"data-original-title" => '交叉项目参考'}
        = cross_project_reference(@project, @issue)
    %hr
    .clearfix
      .votes-holder
        %h6 投票
        #votes= render 'votes/votes_block', votable: @issue
    %hr
    .context
      %cite.cgray
        = render partial: 'issue_context', locals: { issue: @issue }

    - if @issue.labels.any?
      %hr
      %h6 标签
      .issue-show-labels
        - @issue.labels.each do |label|
          = link_to project_issues_path(@project, label_name: label.name) do
            %p= render_colored_label(label)
