.append-bottom-10
  .check-all-holder
    = check_box_tag "check_all_issues", nil, false, class: "check_all_issues left"
  = render 'shared/issuable_filter'

  .clearfix
    .issues_bulk_update.hide
      = form_tag bulk_update_project_issues_path(@project), method: :post  do
        = select_tag('update[status]', options_for_select([['未关闭', 'open'], ['已关闭', 'closed']]), prompt: "状态")
        = project_users_select_tag('update[assignee_id]', placeholder: '指派')
        = select_tag('update[milestone_id]', bulk_update_milestone_options, prompt: "里程碑")
        = hidden_field_tag 'update[issues_ids]', []
        = hidden_field_tag :status, params[:status]
        = button_tag "更新问题", class: "btn update_selected_issues btn-save"

.panel.panel-default
  %ul.well-list.issues-list
    = render @issues
    - if @issues.blank?
      %li
        .nothing-here-block 没有问题

- if @issues.present?
  .pull-right
    %span.issue_counter #{@issues.total_count}
    个问题

  = paginate @issues, theme: "gitlab"
