= form_for [@project, @issue], remote: true, html: {class: 'edit-issue inline-update'} do |f|
  %div.prepend-top-20
    %p
      指派：

    - if can?(current_user, :modify_issue, @issue)
      = project_users_select_tag('issue[assignee_id]', placeholder: '选择指派', class: 'custom-form-control js-select2 js-assignee', selected: @issue.assignee_id)
    - elsif issue.assignee
      = link_to_member(@project, @issue.assignee)
    - else
      无

  %div.prepend-top-20
    %p
      里程碑：
    - if can?(current_user, :modify_issue, @issue)
      = f.select(:milestone_id, milestone_options(@issue), { include_blank: "选择里程碑" }, {class: 'select2 select2-compact js-select2 js-milestone'})
      = hidden_field_tag :issue_context
      = f.submit class: 'btn'
    - elsif issue.milestone
      = link_to project_milestone_path(@project, @issue.milestone) do
        = @issue.milestone.title
    - else
      无
