%h4.page-title
  .issue-box{ class: issue_box_class(@issue) }
    - if @issue.closed?
      已关闭
    - else
      未关闭
  问题 ##{@issue.iid}
  %small.creator
    &middot; 创建时间 #{link_to_member(@project, @issue.author)} #{issue_timestamp(@issue)}

  .pull-right
    - if can?(current_user, :write_issue, @project)
      = link_to new_project_issue_path(@project), class: "btn btn-grouped", title: "新问题", id: "new_issue_link" do
        %i.fa.fa-plus
        新问题
    - if can?(current_user, :modify_issue, @issue)
      - if @issue.closed?
        = link_to '重新打开', project_issue_path(@project, @issue, issue: {state_event: :reopen }, status_only: true), method: :put,  class: "btn btn-grouped btn-reopen"
      - else
        = link_to '关闭', project_issue_path(@project, @issue, issue: {state_event: :close }, status_only: true), method: :put, class: "btn btn-grouped btn-close", title: "Close Issue"

      = link_to edit_project_issue_path(@project, @issue), class: "btn btn-grouped issuable-edit" do
        %i.fa.fa-pencil-square-o
        编辑

%hr
%h3.issue-title
  = gfm escape_once(@issue.title)
%div
  - if @issue.description.present?
    .description
      .wiki
        = preserve do
          = markdown(@issue.description, parse_tasks: true)

%hr
= render "projects/issues/discussion"
