.search-result-row
  %h4
    = link_to [merge_request.target_project, merge_request] do
      %span.term.str-truncated= merge_request.title
    .pull-right ##{merge_request.iid}
  - if merge_request.description.present?
    .description.term
      = preserve do
        = search_md_sanitize(markdown(merge_request.description))
  %span.light
    #{merge_request.project.name_with_namespace}
  .pull-right
    - if merge_request.merged?
      %span.label.label-primary 已合并
    - elsif merge_request.closed?
      %span.label.label-danger 已关闭
