.search-result-row
  %span
    = snippet_blob[:snippet_object].title
    属于
    = link_to user_snippets_path(snippet_blob[:snippet_object].author) do
      = image_tag avatar_icon(snippet_blob[:snippet_object].author_email), class: "avatar avatar-inline s16", alt: ''
      = snippet_blob[:snippet_object].author_name
    %span.light #{time_ago_with_tooltip(snippet_blob[:snippet_object].created_at)}
  %h4.snippet-title
  - snippet_path = reliable_snippet_path(snippet_blob[:snippet_object])
  = link_to snippet_path do
    .file-holder
      .file-title
        %i.fa.fa-file
        %strong= snippet_blob[:snippet_object].file_name
        %span.options
          .btn-group.tree-btn-group.pull-right
            - if snippet_blob[:snippet_object].author == current_user
              = link_to "编辑", edit_snippet_path(snippet_blob[:snippet_object]), class: "btn btn-tiny", title: '编辑代码片段'
              = link_to "删除", snippet_path(snippet_blob[:snippet_object]), method: :delete, data: { confirm: "确定要删除么？" }, class: "btn btn-tiny", title: '删除代码片段'
            = link_to "原文件", raw_snippet_path(snippet_blob[:snippet_object]), class: "btn btn-tiny", target: "_blank"
      - if gitlab_markdown?(snippet_blob[:snippet_object].file_name)
        .file-content.wiki
          - snippet_blob[:snippet_chunks].each do |snippet|
            - unless snippet[:data].empty?
              = preserve do
                = markdown(snippet[:data])
            - else
              .file-content.code
                .nothing-here-block 空文件
      - elsif markup?(snippet_blob[:snippet_object].file_name)
        .file-content.wiki
          - snippet_blob[:snippet_chunks].each do |snippet|
            - unless snippet[:data].empty?
              = render_markup(snippet_blob[:snippet_object].file_name, snippet[:data])
            - else
              .file-content.code
                .nothing-here-block 空文件
      - else
        .file-content.code
          %div.highlighted-data{class: user_color_scheme_class}
            .line-numbers
              - snippet_blob[:snippet_chunks].each do |snippet|
                - unless snippet[:data].empty?
                  - snippet[:data].lines.to_a.size.times do |index|
                    - offset = defined?(snippet[:start_line]) ? snippet[:start_line] : 1
                    - i = index + offset
                    = link_to snippet_path+"#L#{i}", id: "L#{i}", rel: "#L#{i}" do
                      %i.fa.fa-link
                      = i
                  - unless snippet == snippet_blob[:snippet_chunks].last
                    %a
                      = "."
            .highlight.term
              %pre
                %code
                  - snippet_blob[:snippet_chunks].each do |snippet|
                    - unless snippet[:data].empty?
                      = snippet[:data]
                      - unless snippet == snippet_blob[:snippet_chunks].last
                        %a
                          = "..."
                    - else
                      .file-content.code
                        .nothing-here-block 空文件
