%h3.page-title
  新合并请求
%p.slead
  从
  %strong.label-branch #{@merge_request.source_project_namespace}:#{@merge_request.source_branch}
  %span 合并到
  %strong.label-branch #{@merge_request.target_project_namespace}:#{@merge_request.target_branch}

  %span.pull-right
    = link_to '改变分支', new_project_merge_request_path(@project)

= form_for [@project, @merge_request], html: { class: "merge-request-form form-horizontal gfm-form" } do |f|
  .merge-request-form-info
    .form-group
      = f.label :title, class: 'control-label' do
        %strong 标题 *
      .col-sm-10
        = f.text_field :title, maxlength: 255, autofocus: true, class: 'form-control pad js-gfm-input', required: true
    .form-group.issuable-description
      = f.label :description, '描述', class: 'control-label'
      .col-sm-10
        = render layout: 'projects/md_preview' do
          = render 'projects/zen', f: f, attr: :description, classes: 'description form-control'

          .col-sm-12-hint
            .pull-left
              解析为
              #{link_to 'Gitlab 特色 Markdown', help_page_path('markdown', 'markdown'), target: '_blank'}。
            .pull-right
              可以拖放或
              #{link_to '选择文件', '#', class: 'markdown-selector'}来附加图片(JPG, PNG, GIF)。

          .clearfix
          .error-alert
    %hr
    .form-group
      .issue-assignee
        = f.label :assignee_id, class: 'control-label' do
          %i.fa.fa-user
          指派给
      .col-sm-10
        = project_users_select_tag('merge_request[assignee_id]', placeholder: '选择用户', class: 'custom-form-control', selected: @merge_request.assignee_id, project_id: @merge_request.target_project_id)
        &nbsp;
        = link_to '指派给自己', '#', class: 'btn assign-to-me-link'
    .form-group
      .issue-milestone
        = f.label :milestone_id, class: 'control-label' do
          %i.fa.fa-clock-o
          里程碑
        .col-sm-10
          - if milestone_options(@merge_request).present?
            = f.select(:milestone_id, milestone_options(@merge_request), {include_blank: '选择里程碑'}, {class: 'select2'})
          - else
            %span.light 没有可用的未关闭里程碑。
          &nbsp;
          - if can? current_user, :admin_milestone, @merge_request.target_project
            = link_to '创建新的里程碑', new_project_milestone_path(@merge_request.target_project), target: :blank
    .form-group
      = f.label :label_ids, class: 'control-label' do
        %i.fa.fa-tag
        标签
      .col-sm-10
        - if @merge_request.target_project.labels.any?
          = f.collection_select :label_ids, @merge_request.target_project.labels.all, :id, :name, {selected: @merge_request.label_ids}, multiple: true, class: 'select2'
        - else
          %span.light 没有标签。
        &nbsp;
        - if can? current_user, :admin_label, @merge_request.target_project
          = link_to '创建新的标签', new_project_label_path(@merge_request.target_project), target: :blank

    .form-actions
      - if contribution_guide_url(@target_project)
        %p
          请先阅读本版本仓库的
          %strong #{link_to '指导原则', contribution_guide_url(@target_project)}
          。
      = f.hidden_field :source_project_id
      = f.hidden_field :source_branch
      = f.hidden_field :target_project_id
      = f.hidden_field :target_branch
      = f.submit '提交合并请求', class: 'btn btn-create'

.mr-compare.merge-request
  %ul.nav.nav-tabs.merge-request-tabs
    %li.commits-tab{data: {action: 'commits'}}
      = link_to url_for(params) do
        %i.fa.fa-history
        提交
        %span.badge= @commits.size
    %li.diffs-tab{data: {action: 'diffs'}}
      = link_to url_for(params) do
        %i.fa.fa-list-alt
        变更
        %span.badge= @diffs.size

  .commits.tab-content
    = render "projects/commits/commits", project: @project
  .diffs.tab-content
    - if @diffs.present?
      = render "projects/diffs/diffs", diffs: @diffs, project: @project
    - elsif @commits.size > MergeRequestDiff::COMMITS_SAFE_SIZE
      .bs-callout.bs-callout-danger
        %h4 此比较包含超过 #{MergeRequestDiff::COMMITS_SAFE_SIZE} 次提交。
        %p 为保证性能，行变更内容没有显示。
    - else
      .bs-callout.bs-callout-danger
        %h4 此比较包含巨大的差异。
        %p 为保证性能，行变更内容没有显示。

:javascript
  $('.assign-to-me-link').on('click', function(e){
    $('#merge_request_assignee_id').val("#{current_user.id}").trigger("change");
    e.preventDefault();
  });

  window.project_image_path_upload = "#{upload_image_project_path @project}";

:javascript
  var merge_request
  merge_request = new MergeRequest({
    action: 'commits'
  });
