.merge-request{'data-url' => project_merge_request_path(@project, @merge_request)}
  = render "projects/merge_requests/show/mr_title"
  %hr
  = render "projects/merge_requests/show/mr_box"
  %hr
  .append-bottom-20
    .slead
      %span 从
      - if @merge_request.for_fork?
        %strong.label-branch<
          - if @merge_request.source_project
            = link_to @merge_request.source_project_namespace, project_path(@merge_request.source_project)
          - else
            \ #{@merge_request.source_project_namespace}
          \:#{@merge_request.source_branch}
        %span 合并到
        %strong.label-branch #{@merge_request.target_project_namespace}:#{@merge_request.target_branch}
      - else
        %strong.label-branch #{@merge_request.source_branch}
        %span 合并到
        %strong.label-branch #{@merge_request.target_branch}
      - if @merge_request.open?
        %span.pull-right
          .btn-group
            %a.btn.dropdown-toggle{ data: {toggle: :dropdown} }
              %i.fa.fa-download
              下载为
              %span.caret
            %ul.dropdown-menu
              %li= link_to "电子邮件补丁", project_merge_request_path(@project, @merge_request, format: :patch)
              %li= link_to "差异文件",    project_merge_request_path(@project, @merge_request, format: :diff)

  = render "projects/merge_requests/show/how_to_merge"
  = render "projects/merge_requests/show/state_widget"

  - if @commits.present?
    %ul.nav.nav-tabs.merge-request-tabs
      %li.notes-tab{data: {action: 'notes'}}
        = link_to project_merge_request_path(@project, @merge_request) do
          %i.fa.fa-comments
          讨论
          %span.badge= @merge_request.mr_and_commit_notes.count
      %li.commits-tab{data: {action: 'commits'}}
        = link_to project_merge_request_path(@project, @merge_request), title: '提交' do
          %i.fa.fa-history
          提交
          %span.badge= @commits.size
      %li.diffs-tab{data: {action: 'diffs'}}
        = link_to diffs_project_merge_request_path(@project, @merge_request) do
          %i.fa.fa-list-alt
          变更
          %span.badge= @merge_request.diffs.size

  .notes.tab-content.voting_notes#notes{ class: (controller.action_name == 'show') ? "" : "hide" }
    = render "projects/merge_requests/discussion"
  .commits.tab-content
    = render "projects/merge_requests/show/commits"
  .diffs.tab-content
    - if current_page?(action: 'diffs')
      = render "projects/merge_requests/show/diffs"

  .mr-loading-status
    = spinner


:javascript
  var merge_request;

  merge_request = new MergeRequest({
    url_to_automerge_check: "#{automerge_check_project_merge_request_path(@project, @merge_request)}",
    check_enable: #{@merge_request.unchecked? ? "true" : "false"},
    url_to_ci_check: "#{ci_status_project_merge_request_path(@project, @merge_request)}",
    ci_enable: #{@project.ci_service ? "true" : "false"},
    current_status: "#{@merge_request.merge_status_name}",
    action: "#{controller.action_name}"
  });
