= render "projects/issues_nav"

.merge-requests-holder
  .append-bottom-10
    = render 'shared/issuable_filter'
  .panel.panel-default
    %ul.well-list.mr-list
      = render @merge_requests
      - if @merge_requests.blank?
        %li
          .nothing-here-block 没有合并请求
  - if @merge_requests.present?
    .pull-right
      %span.cgray.pull-right #{@merge_requests.total_count} 个合并请求

    = paginate @merge_requests, theme: "gitlab"

:javascript
  $(merge_requestsPage);
