- commit = @repository.commit(branch.target)
%li(class="js-branch-#{branch.name}")
  %h4
    = link_to project_tree_path(@project, branch.name) do
      %strong.str-truncated= branch.name
      - if branch.name == @repository.root_ref
        %span.label.label-info 默认
      - if @project.protected_branch? branch.name
        %span.label.label-success
          %i.fa.fa-lock
          保护的
    .pull-right
      - if can?(current_user, :download_code, @project)
        = render 'projects/repositories/download_archive', ref: branch.name, btn_class: 'btn-grouped btn-group-small'
      - if branch.name != @repository.root_ref
        = link_to project_compare_index_path(@project, from: @repository.root_ref, to: branch.name), class: 'btn btn-grouped btn-small', method: :post, title: "比较" do
          %i.fa.fa-files-o
          比较

      - if can_remove_branch?(@project, branch.name)
        = link_to project_branch_path(@project, branch.name), class: 'btn btn-grouped btn-small btn-remove remove-row', method: :delete, data: { confirm: '删除分支无法恢复。确定要继续么？'}, remote: true do
          %i.fa.fa-trash-o

  - if commit
    %ul.list-unstyled
      = render 'projects/commits/inline_commit', commit: commit, project: @project
  - else
    %p
      无法在本分支找到 HEAD 提交
