= render "projects/commits/head"
%h3.page-title
  分支
  .pull-right
    - if can? current_user, :push_code, @project
      = link_to new_project_branch_path(@project), class: 'btn btn-create' do
        %i.fa.fa-add-sign
        新分支
      &nbsp;
    .dropdown.inline
      %a.dropdown-toggle.btn{href: '#', "data-toggle" => "dropdown"}
        %span.light 排序：
        - if params[:sort] == 'recently_updated'
          最近更新的
        - elsif params[:sort] == 'last_updated'
          最旧更新的
        - else
          名称
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to project_branches_path(sort: nil) do
            名称
          = link_to project_branches_path(sort: 'recently_updated') do
            = sort_title_recently_updated
          = link_to project_branches_path(sort: 'last_updated') do
            = sort_title_oldest_updated
%hr
- unless @branches.empty?
  %ul.bordered-list.top-list.all-branches
    - @branches.each do |branch|
      = render "projects/branches/branch", branch: branch
  = paginate @branches, theme: 'gitlab'
