.votes.votes-block
  .progress
    .progress-bar.progress-bar-success{style: "width: #{votable.upvotes_in_percent}%;"}
    .progress-bar.progress-bar-danger{style: "width: #{votable.downvotes_in_percent}%;"}
  .upvotes= "#{votable.upvotes} 支持"
  .downvotes= "#{votable.downvotes} 反对"
