%h3.page-title
  Web 钩子

%p.light
  #{link_to "Web 钩子", help_page_path("web_hooks", "web_hooks"), class: "vlink"}用于在项目发生相关事件时通知外部服务器。

%hr.clearfix

= form_for [@project, @hook], as: :hook, url: project_hooks_path(@project), html: { class: 'form-horizontal' } do |f|
  -if @hook.errors.any?
    .alert.alert-danger
      - @hook.errors.full_messages.each do |msg|
        %p= msg
  .form-group
    = f.label :url, "URL", class: 'control-label'
    .col-sm-10
      = f.text_field :url, class: "form-control", placeholder: 'http://example.com/trigger-ci.json'
  .form-group
    = f.label :url, "触发", class: 'control-label'
    .col-sm-10
      %div
        = f.check_box :push_events, class: 'pull-left'
        .prepend-left-20
          = f.label :push_events, class: 'list-label' do
            %strong Push 推送
          %p.light
            推送到版本仓库时触发该链接
      %div
        = f.check_box :tag_push_events, class: 'pull-left'
        .prepend-left-20
          = f.label :tag_push_events, class: 'list-label' do
            %strong Tag push 推送标签
          %p.light
            推送一个新标签到版本仓库时触发该链接
      %div
        = f.check_box :issues_events, class: 'pull-left'
        .prepend-left-20
          = f.label :issues_events, class: 'list-label' do
            %strong 创建问题
          %p.light
            新问题被创建后触发该链接
      %div
        = f.check_box :merge_requests_events, class: 'pull-left'
        .prepend-left-20
          = f.label :merge_requests_events, class: 'list-label' do
            %strong 创建合并请求
          %p.light
            新合并请求被创建后触发该链接
  .form-actions
    = f.submit "增加 Web 钩子", class: "btn btn-create"

-if @hooks.any?
  .panel.panel-default
    .panel-heading
      Web 钩子 (#{@hooks.count})
    %ul.well-list
      - @hooks.each do |hook|
        %li
          .pull-right
            = link_to '测试钩子', test_project_hook_path(@project, hook), class: "btn btn-small btn-grouped"
            = link_to '删除', project_hook_path(@project, hook), data: { confirm: '确定要删除么？'}, method: :delete, class: "btn btn-remove btn-small btn-grouped"
          .clearfix
            %span.monospace= hook.url
          %p
            - %w(push_events tag_push_events issues_events merge_requests_events).each do |trigger|
              - if hook.send(trigger)
                %span.label.label-gray= trigger.titleize
