%header.navbar.navbar-fixed-top.navbar-gitlab
  .navbar-inner
    .container
      %div.app_logo
        %span.separator
        = link_to explore_root_path, class: "home" do
          %h1 GITLAB
        %span.separator
      %h1.title= title

      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only 切换导航栏
        %i.fa.fa-bars

      - unless current_controller?('sessions')
        .pull-right.hidden-xs
          = link_to "登入", new_session_path(:user, redirect_to_referer: 'yes'), class: 'btn btn-sign-in btn-new'

        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.visible-xs
              = link_to "登入", new_session_path(:user, redirect_to_referer: 'yes')

= render 'shared/outdated_browser'
