!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "管理区域"
  %body{class: "#{app_theme} #{theme_type} admin", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    = render "layouts/head_panel", title: "管理区域"
    = render 'layouts/page', sidebar: 'layouts/nav/admin'
