!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "仪表盘"
  %body{class: "#{app_theme} #{theme_type} application", :'data-page' => body_data_page }
    = render "layouts/broadcast"
    = render "layouts/head_panel", title: "仪表盘"
    = render 'layouts/page', sidebar: 'layouts/nav/dashboard'
