!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "错误"
  %body{class: "#{app_theme} #{theme_type} application"}
    = render "layouts/head_panel", title: "" if current_user
    .container.navless-container
      = render "layouts/flash"
      .error-page
        = yield
