- page_title = '浏览'
!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: page_title
  %body{class: "#{app_theme} #{theme_type} application", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    - if current_user
      = render "layouts/head_panel", title: page_title
    - else
      = render "layouts/public_head_panel", title: page_title
    .container.navless-container
      .content
        .explore-title
          %h3
            浏览 GitLab
          %p.lead
            发现项目和群组。分享你的项目给他人。


        %ul.nav.nav-tabs
          = nav_link(path: 'projects#trending') do
            = link_to '热门项目', explore_root_path
          = nav_link(path: 'projects#starred') do
            = link_to '最多标记的项目', starred_explore_projects_path
          = nav_link(path: 'projects#index') do
            = link_to '所有项目', explore_projects_path
          = nav_link(controller: :groups) do
            = link_to '所有群组', explore_groups_path

        = yield
