%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title
        GitLab
  :css
    img {
      max-width: 100%;
      height: auto;
    }
    p.details {
      font-style:italic;
      color:#777
    }
    .footer p {
      font-size:small;
      color:#777
    }

  %body
    %div.content
      = yield
    %div.footer{style: "margin-top: 10px;"}
      %p
        \—
        %br
        - if @target_url
          #{link_to "在 GitLab 中查看", @target_url}
          = email_action @target_url
        - if @project
          因为你是 #{link_to_unless @target_url, @project.name_with_namespace, project_url(@project)} 项目团队成员，所以会收到此通知。
