!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "个人资料"
  %body{class: "#{app_theme} #{theme_type} profile", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    = render "layouts/head_panel", title: "个人资料"
    = render 'layouts/page', sidebar: 'layouts/nav/profile'
