!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: group_head_title
  %body{class: "#{app_theme} #{theme_type} application", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    = render "layouts/public_head_panel", title: "群组：#{@group.name}"
    = render 'layouts/page', sidebar: 'layouts/nav/group'
