!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "搜索"
  %body{class: "#{app_theme} #{theme_type} application", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    = render "layouts/head_panel", title: "搜索"
    .container.navless-container
      .content
        = render "layouts/flash"
        = yield
